.absol-autocomplete-input {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
}

.absol-autocomplete-input.absol-disabled {
    pointer-events: none;
    color: rgb(84, 84, 84);
    background-color: rgb(235, 235, 228);
}

.absol-autocomplete-input>input {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}


.absol-autocomplete-input-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    z-index: 1005;
    border: solid 1px rgb(169, 169, 169);
    box-sizing: border-box;
    background-color: white;
}

.absol-autocomplete-input-dropdown .as-bscroller{
    overflow-y: auto;
}

.absol-autocomplete-input-dropdown.top {
    top: auto;
    bottom: 100%;
}

.absol-autocomplete-input-item {
    height: 30px;
}

.absol-autocomplete-input-item:hover {
    background-color: rgb(169, 169, 169, 0.18605);
    cursor: pointer;
}

.absol-autocomplete-input-item.active,
.absol-autocomplete-input-item.active:hover {
    background-color: rgb(169, 169, 169, 0.37209);
}

.absol-autocomplete-input-item-text {
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}