.as-has-board-table-drag,
.as-has-board-table-drag * {
    cursor: grabbing;
    touch-action: none;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.as-board-table {
    overflow: visible;
    position: relative;

}

.as-board-drag-zone {
    touch-action: none;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


.as-board {
    white-space: normal;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}


.as-board-moving {
    transform-origin: 30% 55%;
    transform: rotate(5deg);
    transition: transform 0.05s;
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 2000;
}


.as-board-place-holder {
    opacity: 0.3;
}