/* OLD module */

.absol-bscroller {
    scrollbar-width: thin;
    scrollbar-color: rgba(151, 151, 151, 0.4) rgba(220, 220, 220, 0.4);
    overflow: auto;
}


.absol-bscroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.absol-bscroller::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.4);
}

.absol-bscroller::-webkit-scrollbar-thumb {
    background: rgba(182, 182, 182, 0.4);
}

.absol-bscroller::-webkit-scrollbar-thumb:hover {
    background: rgba(32, 32, 32, 0.4);
}

.absol-bscroller::-webkit-scrollbar-thumb:active {
    background: rgba(13, 13, 13, 0.6);
}

.absol-bscroller.dark,
.dark .absol-bscroller {
    scrollbar-color: rgba(104, 104, 104, 0.4) rgba(35, 35, 35, 0.4);
}


.absol-bscroller.dark::-webkit-scrollbar-track,
.dark .absol-bscroller::-webkit-scrollbar-track {
    background: rgba(35, 35, 35, 0.4);
}

.absol-bscroller.dark::-webkit-scrollbar-thumb,
.dark .absol-bscroller::-webkit-scrollbar-thumb {
    background: rgba(73, 73, 73, 0.4);
}

.absol-bscroller.dark::-webkit-scrollbar-thumb:hover,
.dark .absol-bscroller::-webkit-scrollbar-thumb:hover {
    background: rgba(223, 223, 223, 0.4);
}

.absol-bscroller.dark::-webkit-scrollbar-thumb:active,
.dark .absol-bscroller::-webkit-scrollbar-thumb:active {
    background: rgba(242, 242, 242, 0.6);
}

/*******************************************/
.as-bscroller {
    scrollbar-width: thin;
    scrollbar-color: rgba(151, 151, 151, 0.4) rgba(220, 220, 220, 0.4);

}


.as-bscroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.as-bscroller::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.4);
}

.as-bscroller::-webkit-scrollbar-thumb {
    background: rgba(182, 182, 182, 0.4);
}

.as-bscroller::-webkit-scrollbar-thumb:hover {
    background: rgba(32, 32, 32, 0.4);
}

.as-bscroller::-webkit-scrollbar-thumb:active {
    background: rgba(13, 13, 13, 0.6);
}

.as-bscroller.dark,
.dark .as-bscroller {
    scrollbar-color: rgba(104, 104, 104, 0.4) rgba(35, 35, 35, 0.4);
}


.as-bscroller.dark::-webkit-scrollbar-track,
.dark .as-bscroller::-webkit-scrollbar-track {
    background: rgba(35, 35, 35, 0.4);
}

.as-bscroller.dark::-webkit-scrollbar-thumb,
.dark .as-bscroller::-webkit-scrollbar-thumb {
    background: rgba(73, 73, 73, 0.4);
}

.as-bscroller.dark::-webkit-scrollbar-thumb:hover,
.dark .as-bscroller::-webkit-scrollbar-thumb:hover {
    background: rgba(223, 223, 223, 0.4);
}

.as-bscroller.dark::-webkit-scrollbar-thumb:active,
.dark .as-bscroller::-webkit-scrollbar-thumb:active {
    background: rgba(242, 242, 242, 0.6);
}