.absol-calendar-input {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 7em;
    height: 2em;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #d6d6d6;
    border-radius: 0.2em;
}

.absol-calendar-input.as-border-none {
    border: none;
}

.absol-calendar-input.as-border-none > input {
    text-align: left;
    padding-left: 0;
}

.absol-calendar-input > input {
    text-align: center;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    font: inherit;
}

.absol-calendar-input:not(.as-read-only) input {
    cursor: pointer;
}

.absol-calendar-input:not(.as-read-only) > input:hover,
.absol-calendar-input:not(.as-read-only) > input:focus {
    color: red;
}

.absol-calendar-input.absol-disabled {
    pointer-events: none;
    background-color: var(--as-disabled-background-color);
}

.absol-calendar-input.absol-disabled input {
    color: var(--as-disabled-text-color);
}
