.as-check-tree-item {
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 28px;
}

.as-check-tree-item:focus {
    background-color: unset;
}

.as-check-tree-item:hover:focus {
    background-color: rgba(169, 169, 172, 0.1);
}

.as-check-tree-item .as-checkbox-input {
    margin-right: 0.35em;
}

.as-check-tree-item.as-no-select .as-checkbox-input {
    pointer-events: none;
}

.as-check-tree-item.as-no-select .as-checkbox-input .bound {
    stroke: #929292;
    fill: #ebebe4;
}