label.as-checkbox-input {
    display: inline-block;
    position: relative;
    top: 0.25em;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    cursor: pointer;
    font-size: inherit;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: baseline;
    border-radius: 0.25em;
    border: 1px solid #929292;
    text-align: center;
}

.as-checkbox-input span.as-checkbox-input-check-mark {
    font-size: inherit;
    line-height: 1em;
}

.as-checkbox-input input.as-checkbox-input-value {
    font-size: inherit;
    position: absolute;
    right: 100%;
    top: 0;
    opacity: 0.0;
}

input.as-checkbox-input-value:not(:checked) ~ span.as-checkbox-input-check-mark {
    display: none;
}