.as-check-tree-item {
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 28px;
}

.as-check-tree-item:focus {
    background-color: unset;
}

.as-check-tree-item:hover:focus {
    background-color: rgba(169, 169, 172, 0.1);
}

.as-check-tree-item .as-checkbox-input {
    margin-right: 0.35em;
}

.as-check-tree-item.as-no-select .as-checkbox-input,
.absol-checkbox.as-no-select {
    pointer-events: none;
    opacity: 0.3;
}

.as-check-tree-item.as-no-select .as-checkbox-input .bound,
.absol-checkbox.as-no-select .bound {
    stroke: #929292;
    fill: #ebebe4;
}

.as-check-tree-item.as-no-select .as-checkbox-input .tick,
.as-check-tree-item.as-no-select .as-checkbox-input .minus,
.absol-checkbox.as-no-select .tick,
.absol-checkbox.as-no-select .minus {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.absol-checkbox.as-no-select{
    visibility: hidden;
}