.as-checkbox-input {
    display: inline;
    position: relative;
    margin-right: 0.1em;
    margin-left: 0.1em;
    cursor: pointer;
}

.as-checkbox-input.as-disabled,
.as-checkbox-input.as-disabled:hover {
    pointer-events: none;
    cursor: default;
}

.as-checkbox-input.as-disabled .as-checkbox-input-box {
    border-color: #929292;
    background-color: #ebebe4;
}

.as-checkbox-input:after {
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    vertical-align: unset;
}

.as-checkbox-input-box {
    position: absolute;
    left: -0.1em;
    top: -0.1em;
    right: -0.1em;
    bottom: -0.1em;
    box-sizing: border-box;
    border-radius: 0.25em;
    border: 1px solid #929292;
}

.as-checkbox-input:hover:not(.as-disabled) .as-checkbox-input-box{
    background-color: #d9d9d9;
    border-color: black;
}

.as-checkbox-input-box svg.as-checkbox-input-check-icon {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
}

.as-checkbox-input input {
    display: none;
}

input:checked + svg.as-checkbox-input-check-icon {
    opacity: 1;
}