/** align middle in table cell **/
td > .absol-checkbox:first-child:last-child {
    display: block;
}

td > .absol-checkbox.as-no-label:first-child:last-child .as-checkbox-input {
    display: block;
}

.absol-checkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.absol-checkbox.right > .absol-checkbox-label.as-right {
    display: none;
}


.absol-checkbox:not(.right) > .absol-checkbox-label.as-left {
    display: none;
}

.absol-checkbox-label {
    vertical-align: middle;
    display: inline-block;
}


.absol-checkbox-label.as-left {
    padding-right: 0.3em;
}


.absol-checkbox-label.as-right {
    padding-left: 0.3em;
}

.absol-checkbox.as-no-label {
    width: calc(1em + 2px);
    height: calc(1em + 2px);
}


.absol-checkbox.as-no-label .absol-checkbox-label {
    display: none;
}

.absol-checkbox.as-disabled .absol-checkbox-label {
    color: #777;
}
