.as-check-list-box.as-select-list-box.as-enable-search .as-select-list-box-scroller {
    max-height: calc(var(--max-height) - 38px - 29px);
}

.as-select-list-box-footer {
    height: 29px;
    border-top: 1px solid #dddddd;
    box-sizing: border-box;
    padding-left: 0.35em;
    white-space: nowrap;
}

.as-select-list-box-footer > *,
.as-select-list-box-footer::before {
    display: inline-block;
    vertical-align: middle;
}

.as-select-list-box-footer::before {
    content: "";
    height: 100%;
}

.as-select-list-box-footer > *:not(:last-child){
    margin-right: 30px;
}

.as-select-list-box-footer .absol-checkbox-label.as-right{
    padding-left: 0.35em;
}

.as-select-list-box-footer a{
    cursor: pointer;
}

.as-select-list-box-footer a:hover{
    color: #1da1ff;
}