:root {
    --candy-border-color: #929292;
    --candy-hover-background-color: #eeeee9;
    --candy-disabled-background-color: #ebebe4;
}

label.as-checkbox-input {
    display: inline-block;
    position: relative;
    font-size: inherit;
    box-sizing: border-box;
    vertical-align: middle;

    padding: 0;
    margin: 0; /*fix boostrap override*/
    overflow: hidden;
    background-color: white;
}

label.as-checkbox-input *,
label.as-checkbox-input {
    line-height: 1em;
}

label.as-checkbox-input .mdi::before {
    display: block;/*fix icon not center*/
}

label.as-checkbox-input.as-disabled {
    pointer-events: none;
}

label.as-checkbox-input.as-border-none[data-variant]::after {
   border-color: transparent;
}

label.as-checkbox-input[data-size="v0"] {
    width: calc(18em / 14);
    height: calc(18em / 14);
    border-radius: 5px;
}

label.as-checkbox-input[data-size="large"] {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    font-size: 16px;
}

label.as-checkbox-input[data-size="regular"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 14px;
}


label.as-checkbox-input[data-size="small"] {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    font-size: 12px;
}

label.as-checkbox-input[data-variant="v0"] {
    border: none;
    color: var(--dark-color);
}

/**/
label.as-checkbox-input[data-variant="check-box"],
label.as-checkbox-input[data-variant="check-circle"],
label.as-checkbox-input[data-variant="reject-circle"] {
    border: none;
    color: white;
}

label.as-checkbox-input.as-checked[data-variant="check-box"],
label.as-checkbox-input.as-checked[data-variant="check-circle"] {
    background-color: var(--primary-color);
}

label.as-checkbox-input.as-checked[data-variant="reject-circle"] {
    background-color: #EF4444;
}


label.as-checkbox-input::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

label.as-checkbox-input[data-variant="v0"]::after {
    border: 1px solid #ddd;
}


label.as-checkbox-input.as-checked::after,
label.as-checkbox-input.as-disabled::after{
    border: 1px solid var(--sharp-border-color);
}


label.as-checkbox-input[data-variant="check-circle"],
label.as-checkbox-input[data-variant="reject-circle"] {
    border-radius: 50%;
}

label.as-checkbox-input[data-variant="check-circle"]::after,
label.as-checkbox-input[data-variant="reject-circle"]::after {
    border-radius: 50%;
}

label.as-checkbox-input.as-checked[data-variant="v0"]:not(.as-read-only):hover {
    background-color: var(--candy-hover-background-color);
}

label.as-checkbox-input[data-variant="check-box"]:not(.as-read-only):hover,
label.as-checkbox-input[data-variant="check-circle"]:not(.as-read-only):hover,
label.as-checkbox-input[data-variant="reject-circle"]:not(.as-read-only):hover {
    background-color: var(--candy-hover-background-color);
}


label.as-checkbox-input.as-checked[data-variant="check-box"]:not(.as-read-only):hover,
label.as-checkbox-input.as-checked[data-variant="check-circle"]:not(.as-read-only):hover {
    background-color: #1E7183;
}

label.as-checkbox-input.as-checked[data-variant="reject-circle"]:not(.as-read-only):hover {
    background-color: #CD0606;
}


label.as-checkbox-input.as-checked[data-variant="check-box"]:not(.as-read-only):active,
label.as-checkbox-input.as-checked[data-variant="check-circle"]:not(.as-read-only):active {
    background-color: var(--active-primary-color);
}

label.as-checkbox-input.as-checked[data-variant="reject-circle"]:not(.as-read-only):active {
    background-color: #880505;
}

label.as-checkbox-input[data-variant="check-box"].as-disabled,
label.as-checkbox-input[data-variant="check-circle"].as-disabled,
label.as-checkbox-input[data-variant="check-box"].as-checked.as-disabled,
label.as-checkbox-input[data-variant="check-circle"].as-checked.as-disabled,
label.as-checkbox-input[data-variant="reject-circle"].as-checked.as-disabled {
    background-color: var(--as-disabled-natural-color);
    color: white;
}

.as-checkbox-input-check-icon {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    white-space: nowrap;
    text-align: center;
    pointer-events: none;
}


.as-checkbox-input-check-icon > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
}

.as-checkbox-input-check-icon::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.as-checkbox-input:not(.as-read-only):not(.as-disabled) {
    cursor: pointer;
}


label.as-checkbox-input:hover:not(.as-read-only) .bound,
.absol-checkbox:hover:not(.as-read-only) .bound {
    fill: var(--candy-hover-background-color);
}

.as-checkbox-input .tick,
.as-checkbox-input .minus {
    fill: #606060;
}


.as-checkbox-input input.as-checkbox-input-value {
    font-size: inherit;
    position: absolute;
    right: 100%;
    top: 0;
    opacity: 0.0;
    z-index: -100000000000;
}

input.as-checkbox-input-value:not(:checked) ~ div .tick {
    display: none;
}

.as-checkbox-input.as-has-minus .minus {
    display: inline-block;
}

.as-checkbox-input .minus,
input.as-checkbox-input-value:checked ~ .as-checkbox-input-check-icon .minus {
    display: none;
}


label.as-checkbox-input .bound {
    stroke: var(--border-color);
    fill: white;
}

label.as-checkbox-input .tick {
    opacity: 1;
    transition: opacity 0.1s;
}

label.as-checkbox-input .minus {
    transition: opacity 0.1s;
}

label.as-checkbox-input.as-disabled,
label.as-checkbox-input.as-disabled:hover {
    background-color: var(--as-disabled-background-color);
    color: var(--as-disabled-text-color);
}


.as-checkbox-input > svg {
    width: 100%;
    height: 100%;
}

.as-checkbox-input.as-read-only.as-border-none .bound {
    display: none;
}