
.absol-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.absol-checkbox.right > .absol-checkbox-label.as-right {
    display: none;
}


.absol-checkbox:not(.right) > .absol-checkbox-label.as-left {
    display: none;
}

.absol-checkbox-label {
    vertical-align: middle;
    display: inline-block;
}


.absol-checkbox-label.as-left{
    padding-right: 0.3em;
}


.absol-checkbox-label.as-right{
    padding-left: 0.3em;
}
