.as-check-tree-item {
    font-size: inherit;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 2em;
}

.as-check-tree-item:focus {
    background-color: unset;
}

.as-check-tree-item:hover:focus {
    background-color: rgba(169, 169, 172, 0.1);
}

.as-check-tree-item .as-checkbox-input {
    margin-right: 0.35em;
}

.as-check-tree-item.as-no-select .as-checkbox-input,
.absol-checkbox.as-no-select {
    pointer-events: none;
    opacity: 0.3;
}

.as-check-tree-item.as-no-select .as-checkbox-input .bound,
.absol-checkbox.as-no-select .bound {
    stroke: #929292;
    fill: #ebebe4;
}

.as-check-tree-item.as-no-select .as-checkbox-input .tick,
.as-check-tree-item.as-no-select .as-checkbox-input .minus,
.absol-checkbox.as-no-select .tick,
.absol-checkbox.as-no-select .minus {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.as-check-tree-item.as-check-unsafe-tree-item {
    padding-right: 45px;
}

.as-check-unsafe-tree-item .as-check-unsafe-tree-item-action-ctn {
    display: none;
    position: absolute;
    height: 20px;
    right: 5px;
    top: calc(50% - 10px);
    --as-transparent-button-text-color: rgba(107, 107, 108, 0.3);
}

/*.as-check-unsafe-tree-item.status-close .as-check-unsafe-tree-item-action-ctn,*/
/*.as-check-unsafe-tree-item.status-open .as-check-unsafe-tree-item-action-ctn*/
/*{*/
/*    display: block;*/
/*}*/


.as-check-unsafe-tree-item-action-ctn >button{
    width: 25px;
    height: 20px;
}

/*.as-check-unsafe-tree-item-action-ctn >button:not(:first-child) {*/
/*    margin-left: 5px;*/
/*}*/

.absol-checkbox.as-no-select {
    visibility: hidden;
}