.as-check-list-item {
    padding-left: 0.35em;
    height: calc(30rem / 14);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.as-check-list-item-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.as-check-list-item-checkbox .as-checkbox-input-check-icon{
    display: block;

}

.absol-selectlist-item.as-check-list-item > span {
    display: inline-block;
    vertical-align: middle;
    line-height: calc(30rem / 14);
}

.absol-selectlist-item.as-check-list-item .absol-selectlist-item-desc {
    line-height: calc(25rem / 14);
}

.as-check-list-item.as-no-select .as-check-list-item-checkbox {
    visibility: hidden;
}

.as-check-list-item.as-no-select {
    pointer-events: none;
}