.as-chrome-time-picker {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.6em;
    border: solid 1px rgb(191, 191, 191);
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
    z-index: 100;
    touch-action: manipulation;
    user-select: none;
    background-color: rgb(255, 255, 255);
    /*width: calc(160px + 1.2em);*/
    height: 12.38em;
    white-space: nowrap;
}

.as-chrome-time-picker.as-24h-clock .as-chrome-time-picker-scroller-h12,
.as-chrome-time-picker:not(.as-24h-clock) .as-chrome-time-picker-scroller-h24,
.as-chrome-time-picker.as-24h-clock .as-chrome-time-picker-period {
    display: none;
}

.as-chrome-time-picker-period {
    padding-top: 1.43em;
    padding-bottom: 1.43em;
    box-sizing: border-box;
}


.as-chrome-time-picker > div:not(:first-child) {
    margin-left: 5px;
}


.as-chrome-time-picker-scroller {
    position: relative;
    padding-top: 1.43em;
    padding-bottom: 1.43em;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
}

.as-chrome-time-picker-scroller-up,
.as-chrome-time-picker-scroller-down {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.43em;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    font-size: inherit;
}


.as-chrome-time-picker-scroller-up > span,
.as-chrome-time-picker-scroller-down > span {
    font-size: 1.5em;
}

.as-chrome-time-picker-scroller-up:hover,
.as-chrome-time-picker-scroller-down:hover {
    background-color: rgba(169, 169, 169, 0.2);
}

.as-chrome-time-picker-scroller-up {
    top: -5px;
}

.as-chrome-time-picker-scroller-down {
    bottom: -5px;
}


.as-chrome-time-picker-viewport {
    width: 3.6em;
    height: 100%;
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}


.as-chrome-time-picker-list {
    height: 100%;
    overflow-y: scroll;
    width: calc(100% + 18px);
}

.as-chrome-time-picker-btn {
    font-size: inherit;
    height: 2em;
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
}

.as-chrome-time-picker-btn:hover {
    background-color: rgb(224, 245, 256);
}

.as-chrome-time-picker-btn.as-selected {
    background-color: rgb(188, 205, 236);
    border-radius: 3px;
}

.as-chrome-time-picker-btn > span {
    font-size: 1.14em;
}



