.absol-chrome-calendar {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    padding: 0.6em;
    border: solid 1px rgb(191, 191, 191);
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
    z-index: 100;
    touch-action: manipulation;
    user-select: none;
    background-color: rgb(255, 255, 255);
    white-space: initial;
    outline: none;
}

.absol-chrome-calendar * {
    font-size: inherit;
}


.absol-chrome-calendar-header {
    white-space: nowrap;
    position: relative;
}


.absol-chrome-calendar-title {
    display: inline-block;
    vertical-align: middle;
}

.absol-chrome-calendar-header-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.absol-chrome-calendar-header-buttons > button {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    border-radius: 0.2em;
    border: solid 1px rgb(167, 167, 167);
    background: linear-gradient(rgb(240, 240, 240), rgb(233, 233, 233), rgb(223, 223, 223));
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 2px #aaa;
    color: rgb(110, 110, 110);
}

.absol-chrome-calendar-header-buttons > button:nth-child(2) {
    margin-left: 0.2em;
    margin-right: 0.2em;
}


.absol-chrome-calendar-header-buttons > button:active {
    box-shadow: 0px 0px 2px #aaa;

}

.absol-chrome-calendar:not(.view-era) .absol-chrome-calendar-title {
    cursor: pointer;
}

.absol-chrome-calendar-title::after {
    content: "\25BC";
}

.absol-chrome-calendar[data-view="era"] .absol-chrome-calendar-title::after {
    content: "";
}

.absol-chrome-calendar-title > span {
    line-height: 1.5em;
    min-width: 5em;
    display: inline-block;
}

.absol-chrome-calendar-instance {
    margin-top: 1em;
    border: solid 1px rgb(140, 140, 140);
    width: calc(14em + 2px);
    position: relative;
    height: calc(8.4em + 3px);
    overflow: hidden;
    box-sizing: border-box;
    /*border*/
}

.absol-chrome-calendar-dayofweek {
    background-color: rgb(241, 241, 241);
    height: 1.2em;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-dayofweek::before {
    content: "wk";
    text-align: center;
    line-height: 1.2;
    display: inline-block;
    color: rgb(130, 130, 255);
    border-bottom: solid 1px rgb(191, 191, 191);
    border-right: solid 1px rgb(191, 191, 191);
    box-sizing: border-box;
    width: 12.5%;
}

.absol-chrome-calendar-dayofweek > div {
    text-align: center;
    line-height: 1.2;
    display: inline-block;
    width: calc(100% / 7);
    border-bottom: solid 1px rgb(191, 191, 191);
    box-sizing: border-box;
}

.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-dayofweek > div {
    width: 12.5%;
}

.absol-chrome-calendar-month-animation-container {
    position: absolute;
    transition: top 0.2s;
}

.absol-chrome-calendar-month-animation-container.old {
    z-index: 7;
    /* background: red; */
}

.absol-chrome-calendar-month-animation-container.new {
    z-index: 8;
    /* background: blue; */
}

.absol-chrome-calendar-month-animation-container > .absol-chrome-calendar-month {
    width: 100%;
    height: 100%;
    margin-top: -1px;
}


.absol-chrome-calendar-month {
    width: 100%;
    margin-top: 1.2em;
    background-color: white;
    /*for header*/
}

.absol-chrome-calendar-month.as-animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 8;
    transition: top 0.2s;
    /*opacity: 0.5;*/
}

.absol-chrome-calendar-month.as-animation div {
    pointer-events: none;
    transition: color 0.2s;
}

.absol-chrome-calendar[data-view="month"] .absol-chrome-calendar-month {
    display: table;
}

.absol-chrome-calendar[data-view="month"] .absol-chrome-calendar-dayofweek {
    display: block;
}


.absol-chrome-calendar-week-in-month {
    display: table-row;
    height: 1.2em;
}

.absol-chrome-calendar-week-in-month > div::before {
    content: attr(data-date);
}


.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month::before {
    content: attr(data-week-idx-text);
    display: table-cell;
    text-align: right;
    padding-right: 0.4em;
    color: rgb(130, 130, 255);
    text-shadow: 1px 0 0 currentColor;
    border-right: solid 1px rgb(191, 191, 191);
    width: 12.5%;
}


.absol-chrome-calendar-week-in-month > div {
    display: table-cell;
    text-align: right;
    padding-right: 0.4em;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% / 7);
}

.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month > div {
    width: calc(100% / 8);
}


.absol-chrome-calendar[data-level="day"] .absol-chrome-calendar-week-in-month > div:hover,
.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month.as-hover-in-year > div:not(.as-not-in-year),
.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month.as-hover-in-year::before,
.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month.as-hover-not-in-year > .as-not-in-year
{
    background-color: rgb(224, 245, 256);
}

.absol-chrome-calendar[data-level="day"] .absol-chrome-calendar-not-in-month:not(.as-disabled),
.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-not-in-month:not(.as-disabled) {
    color: rgb(140, 140, 140);
}

.absol-chrome-calendar-today {
    border: inset 1px rgb(191, 191, 191);
    box-sizing: border-box;
}

.absol-chrome-calendar-selected,
.absol-chrome-calendar[data-level="week"] .as-week-selected,
.absol-chrome-calendar[data-level="quarter"] .as-quarter-selected,
.absol-chrome-calendar[data-level="week"] .absol-chrome-calendar-week-in-month.as-selected::before
{
    background-color: rgb(188, 205, 236) !important;
}

.absol-chrome-calendar[data-level="week"] .as-week-selected .absol-chrome-calendar-selected {
    background-color: transparent;
}


.absol-chrome-calendar-years {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.absol-chrome-calendar:not([data-view="year"]) .absol-chrome-calendar-years {
    z-index: -10000;
    opacity: 0;
    visibility: hidden;
}

.absol-chrome-calendar.view-year .absol-chrome-calendar-instance {
    border-color: rgb(77, 114, 254)
}

.absol-chrome-calendar-month,
.absol-chrome-calendar-dayofweek,
.absol-chrome-calendar-era {
    display: none;
}


.absol-chrome-calendar:not(.view-month) .absol-chrome-calendar-title {
    color: rgb(191, 191, 191);
}


.absol-chrome-calendar-year {
    overflow: hidden;
}


.absol-chrome-calendar-year-head {
    background-color: rgb(241, 241, 241);
    border-bottom: solid 1px rgb(191, 191, 191);
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    box-sizing: border-box;
}


.absol-chrome-calendar-year:last-child .absol-chrome-calendar-year-head {
    border-bottom: solid 1px rgb(191, 191, 191);
}

.absol-chrome-calendar-year.start-opening .absol-chrome-calendar-year-months,
.absol-chrome-calendar-year.closing .absol-chrome-calendar-year-months {
    margin-bottom: -6em;
    transition: margin-bottom linear 0.1s;
}

.absol-chrome-calendar-year.opening .absol-chrome-calendar-year-months,
.absol-chrome-calendar-year.start-closing .absol-chrome-calendar-year-months {
    margin-bottom: 0;
    transition: margin-bottom linear 0.1s;

}

.absol-chrome-calendar-year-months {
    width: 100%;
    display: table;
    height: calc(6em + 1px);
    border-bottom: solid 1px rgb(191, 191, 191);
    box-sizing: border-box;
}

.absol-chrome-calendar-year-row-months {
    display: table-row;
    line-height: 1.5;
    height: 2em;
}

.absol-chrome-calendar-year-month {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.absol-chrome-calendar-year-month:hover,
.absol-chrome-calendar-era-year:hover,
.absol-chrome-calendar[data-level="quarter"] .absol-chrome-calendar-years-content[data-hover-quarter="0"] .absol-chrome-calendar-year-month[data-quarter="0"],
.absol-chrome-calendar[data-level="quarter"] .absol-chrome-calendar-years-content[data-hover-quarter="1"] .absol-chrome-calendar-year-month[data-quarter="1"],
.absol-chrome-calendar[data-level="quarter"] .absol-chrome-calendar-years-content[data-hover-quarter="2"] .absol-chrome-calendar-year-month[data-quarter="2"],
.absol-chrome-calendar[data-level="quarter"] .absol-chrome-calendar-years-content[data-hover-quarter="3"] .absol-chrome-calendar-year-month[data-quarter="3"] {
    background-color: rgb(224, 245, 256);
}


.absol-chrome-calendar-years:hover .absol-scrollbar {
    opacity: 1;

}

.absol-chrome-calendar-years .absol-scrollbar {
    background-color: rgba(169, 169, 172, 0.2);
    opacity: 0;
    transition: opacity 0.2s;
}

.absol-chrome-calendar-week-in-month > div.as-disabled,
.absol-chrome-calendar-date-disabled,
.absol-chrome-calendar-era-year.absol-chrome-calendar-date-disabled {
    color: rgb(240, 230, 230);
    pointer-events: none;
    cursor: not-allowed;
}

button.absol-chrome-calendar-button-disabled,
.absol-chrome-calendar button:disabled {
    color: rgb(220, 210, 210);
    pointer-events: none;
    box-shadow: none;
    cursor: not-allowed;
}

.absol-chrome-calendar-era {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000;
    /*width: 100%;*/
    /*height: 100%; */
    width: calc(14em + 17px);
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 1px 0 black;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: inherit;
}

.absol-chrome-calendar[data-view="era"] .absol-chrome-calendar-era {
    display: block;
}

.absol-chrome-calendar[data-level="year"] .absol-chrome-calendar-era {
    display: block;
}

.absol-chrome-calendar-era-row {
    width: 14em;
    height: 25%;
    white-space: nowrap;
    font-size: inherit;
}

.absol-chrome-calendar-era-year {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 25%;
    text-align: center;
    line-height: 2.1em;
    font-size: inherit;
    color: rgb(140, 140, 140);
}


.absol-chrome-calendar-in-decade:not(.absol-chrome-calendar-date-disabled) {
    color:  var(--dark-color);
}

/*.absol-chrome-calendar-era*/