.as-circle-section-label {
    position: relative;
    -webkit-print-color-adjust: exact;
    /*friendly print*/
}

.as-circle-section-label-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    padding-right: 2.5em;
    color: white;
    font-weight: bold;
}


.as-circle-section-label-index {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: rgb(30, 162, 245);
    font-weight: 900;
}

.as-circle-section-label-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.as-circle-section-label-background>svg {
    display: block;
}

.as-circle-section-label-index-box {
    stroke: rgb(129, 211, 246);
    fill: white;
    stroke-width: 2.5;
}

.as-circle-section-label-arrow {
    stroke: rgb(30, 162, 245);
    fill: none;
    stroke-linecap: round;
}

.as-circle-section-label-text-box {
    fill: rgb(30, 162, 245);
    stroke: none;
}

.as-circle-section-label-arrow-marker-path {
    fill: rgb(30, 162, 245);
    stroke: none;
}