.as-date-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: calc(2em + 2px);
    width: 10.5em;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.as-date-input[data-format] {
    --format-width: 8.5em;
    width: calc(var(--format-width) + 2em + 1em);
}

.as-date-input-text {
    outline: none;
    width: calc(100% - 29px);
    height: 100%;
    border: none;
    background-color: transparent;
    display: block;
    padding: 0 0 0 var(--as-input-horizontal-padding);
    font: inherit;
    box-sizing: border-box;

}

.as-date-input-icon-ctn {
    font-size: inherit;
    border-left: 1px solid #ddd;
    border-right: none;
    border-top: none;
    border-bottom: none;
    text-align: center;
    position: absolute;
    right: 0;
    width: calc(2em + 1px);
    box-sizing: border-box;
    top: 0;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.1);
    cursor: pointer;
    color: black;
    padding: 0;
}


.as-date-input-icon-ctn:hover {
    background-color: rgba(169, 169, 169, 0.25);
}

.as-date-input-icon-ctn:active {
    background-color: rgba(169, 169, 169, 0.5);
}


.as-date-input-icon-ctn > span {
    line-height: 28px;
    font-size: calc(16em / 14);
    display: inline-block;
    padding: 0;
}

.as-date-input.as-read-only .as-date-input-icon-ctn {
    pointer-events: none;
}

.as-date-input.as-disabled {
    color: var(--as-disabled-text-color);
    pointer-events: none;
}

.as-date-input.as-disabled input {
    background-color: var(--as-disabled-background-color);
}

.as-date-input.as-value-null .as-date-input-clear-btn,
.as-date-input.as-must-not-null .as-date-input-clear-btn {
    display: none;
}

.as-date-input-clear-btn {
    font-size: inherit;
    position: absolute;
    right: 2em;
    height: 2em;
    padding: 0 0.3em;
    top: calc(50% - 1em);
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: #bbb;
    visibility: hidden;
}

.as-date-input.as-read-only .as-date-input-clear-btn {
    display: none;
}

.as-date-input-clear-btn:hover {
    color: rgb(132, 132, 132)
}

.as-date-input-clear-btn:active {
    color: #525555;
}

.as-date-input-text:focus + .as-date-input-clear-btn,
.as-date-input:hover .as-date-input-clear-btn {
    visibility: visible;
}

.as-date-input.as-border-none {
    border: transparent;
    background-color: transparent;
}

.as-date-input.as-border-none .as-date-input-icon-ctn {
    display: none;
}

.as-date-input.as-border-none .as-date-input-text {
    width: 100%;
    padding-left: 0;
}

.as-date-n-level-input {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 13.5em;
    height: calc(2em + 2px);
}

.as-date-n-level-input .as-date-input {
    width: 100%;
    height: 100%;
}

.as-date-n-level-input-select-level {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 2em;
    height: 2em;
    padding: 0;
}


.as-date-n-level-input.as-disabled .as-date-n-level-input-select-level {
    opacity: 0.5;
    pointer-events: none;
}

.as-date-n-level-input.as-read-only .as-date-n-level-input-select-level {
    pointer-events: none;
}


.as-date-n-level-input .as-date-input-text {
    padding-left: calc(var(--as-input-horizontal-padding) + 2em);
    width: calc(100% - 2em - 1px);
    box-sizing: border-box;
}


.as-date-n-level-input.as-border-none.as-read-only .as-date-input {
    border: none;
}


.as-date-n-level-input.as-border-none.as-read-only .as-date-input-text {
    width: 100%;
    text-align: left;
    padding-left: 0;
}
.as-date-n-level-input.as-border-none.as-read-only button {
    display: none;
}
