.absol-debug-task {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999999;
    border-radius: 5px;
    background: rgba(169, 169, 171, 0.1);
    border: solid 1px rgba(169, 169, 171, 0.5);
    min-width: 45px;
    min-height: 30px;
    font-size: 12px;
    padding: 5px;
}

.absol-debug-task-name{
    color: darkcyan;
}

.absol-debug-task-value{
    color: rgb(159, 8, 197);
}