.absol-draggable-vstack {
    position: relative;
}

.absol-draggable-vstack .drag-zone {}

.absol-draggable-vstack>.dragging {
    opacity: 0.2 !important;
}

.absol-draggable-vstack-child-container.dragging {
    opacity: 0.2 !important;
}

.absol-draggable-vstack-clone-container {
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 100;
    pointer-events: all;
    opacity: 0.5;
    background: white;
}

.absol-draggable-vstack-clone-container * {
    pointer-events: none !important;
}

.absol-draggable-vstack-clone-container.home-going {
    transition: top 0.2s;
}

.absol-draggable-vstack-dest-line {
    position: absolute;
    left: 0;
    right: 0;
    border-top: solid 3px rgb(74, 174, 233);
    border-bottom: solid 3px rgb(74, 174, 233);
    z-index: 99;
    transition: top 0.1s;
}
