.as-dv-exp-tree {

}

.as-dv-exp-tree > .absol-exp-node > .absol-exp-node-level {
}

.as-dv-exp-tree > .absol-exp-node > .absol-radio-button {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    /*margin-left: 5px;*/
}


.as-dv-exp-tree:not(.as-has-radio) > .absol-exp-node > .absol-radio-button {
    /*visibility: hidden;*/
    display: none;
}


.as-dv-exp-tree > .absol-exp-node > .as-dv-exp-tree-index {
    box-sizing: border-box;
    padding: 0 0 0 0.5em;
    margin-left: 0.5em;
    outline: none;
    height: 1.2em;
    min-width: 3em;
    box-shadow: 0 0  0 1px #dddddd;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

.as-dv-exp-tree > .absol-exp-node > .as-dv-exp-tree-index:hover{
    box-shadow: 0 0  0 1px #aaaaaa;
}

.as-dv-exp-tree:not(.as-has-index-input) > .absol-exp-node > .as-dv-exp-tree-index {
    display: none;
}

/*.as-dv-exp-tree>.absol-exp-node:not(.status-open):not(.status-close)>.toggler-ico{*/
/*    display: none;*/
/*}*/

/*.as-dv-exp-tree .absol-exp-node-ext-icon{*/
/*    display: none;*/
/*}*/