.as-dynamic-table-wrapper.as-inline {
    display: inline-block;
}

.as-dynamic-table-wrapper.as-inline .as-dynamic-table {
    width: auto;
}


.as-dynamic-table-wrapper {
    position: relative;
}

.as-dynamic-table-wrapper.as-no-paging .absol-page-selector {
    display: none;
}

.as-dynamic-table-wrapper .absol-page-selector[data-page-count="1"] {
    display: none;
}


.as-dynamic-table-wrapper.as-has-fixed-col .as-dynamic-table-horizontal-scroller {
    overflow-x: auto;
}

.as-dynamic-table-fixed-x-col {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: auto !important;
    z-index: 12;
}

.as-dynamic-table-wrapper.as-has-fixed-col .as-dynamic-table-fixed-x-col {
    display: block;
}

.as-dynamic-table {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.as-dt-header {
    background-color: #d6d6d6;
}

.as-dt-header-cell {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
    box-sizing: border-box;
}

.as-dt-header-cell[data-sort-key] {
    padding-right: 1.75em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.as-dt-sort-btn {
    display: none;
    vertical-align: middle;
    line-height: 1.5em;
    position: absolute;
    right: 0.25em;
    top: calc(50% - 0.75em);
    color: #a9a9a9;

    height: 1.5em;
    width: 1.5em;
    pointer-events: none;
}

.as-dt-header-cell[data-sort-key] .as-dt-sort-btn {
    display: inline-block;
}

.as-dt-header-cell[data-sort-order="ascending"] .as-dt-sort-btn .mdi-menu-up,
.as-dt-header-cell[data-sort-order="descending"] .as-dt-sort-btn .mdi-menu-down {
    color: #007bff;
}

.as-dt-sort-btn span {
    position: absolute;
    display: inline-block;
    left: 0;
    font-size: 2em;

}

.as-dt-sort-btn .mdi-menu-up {
    bottom: 0.18em;
}


.as-dt-sort-btn .mdi-menu-down {
    top: 0.18em;
}


.as-dt-body-row:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.as-dt-body-row:nth-child(even) {
    background-color: white;
}

.as-dt-body-cell {
    padding: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.as-dt-body-row {
    height: calc(40em / 14);
}

.as-dt-body-row {
    height: var(--table-row-height);
}

.as-dt-body-row.as-dragging {
    position: relative;
    z-index: 1000000;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    -moz-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    opacity: 0.8;
}

.as-dt-body-row.as-drag-neighbor {
    position: relative;
    z-index: 1;
    transition: transform 0.05s;

}

.as-dt-body-row.as-dragging.as-homing {
    transition: transform 0.06s;
}

.as-dynamic-table-wrapper .absol-page-selector {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.as-dynamic-table-wrapper.as-searching .as-drag-zone {
    opacity: 0.3;
    pointer-events: none;
}

.as-dynamic-table-wrapper .as-drag-zone {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.as-dt-insert-line {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 2px solid blue;
}

.as-dt-body-cell > .absol-checkbox:last-child:first-child {
    display: inline-block;
    vertical-align: middle;
}

.as-dt-row-index::before {
    content: attr(data-idx);
}


.as-dynamic-table-wrapper.as-no-graphic .as-dt-header-cell,
.as-dynamic-table-wrapper.as-no-graphic .as-dt-body-cell {
    border: none;
}

.as-dynamic-table-wrapper.as-no-graphic .as-dt-header,
.as-dynamic-table-wrapper.as-no-graphic .as-dt-body-row {
    background-color: transparent;
}