.as-emoji-picker-tooltip {
    --tool-tip-background-color: white;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.as-emoji-picker-tooltip .absol-tooltip-content {
    display: block;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.as-emoji-picker-tooltip-left-btn,
.as-emoji-picker-tooltip-right-btn {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 40px;
    font-size: 25px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgb(155, 155, 175);
    outline: none;
}

.as-emoji-picker-tooltip-left-btn:hover,
.as-emoji-picker-tooltip-right-btn:hover {
    background-color: rgba(156, 156, 156, 0.15);
}

.as-emoji-picker-tooltip-left-btn:active,
.as-emoji-picker-tooltip-right-btn:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.as-emoji-picker-tooltip-left-btn:disabled,
.as-emoji-picker-tooltip-right-btn:disabled {
    pointer-events: none;
    color: rgb(230, 230, 235);
}

.as-emoji-picker-tooltip-scroller {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 360px;
    height: 60px;
    overflow: hidden;
}

.as-emoji-picker-tooltip-icon-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.5s;
    white-space: nowrap;
}

.as-emoji-picker-tooltip-icon-btn {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}


.as-emoji-picker-tooltip-icon {
    transition: width 0.3s, height 0.3s;
    width: 35px;
    height: 35px;
}

.as-emoji-picker-tooltip-icon-btn:hover .as-emoji-picker-tooltip-icon {
    width: 45px;
    height: 45px;
}

.as-emoji-picker-tooltip-remove-btn {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 40px;
    color: rgb(185,185,185);
}

.as-emoji-picker-tooltip-remove-btn:hover{
    color: rgb(255,30,30);
}


@media (max-width: 400px) and (min-width: 300px) {
    .as-emoji-picker-tooltip-left-btn,
    .as-emoji-picker-tooltip-right-btn {
        height: 36px;
        width: 24px;
        font-size: 15px;
    }

    .as-emoji-picker-tooltip-scroller {
        width: 216px;
        height: 36px;
    }

    .as-emoji-picker-tooltip-icon-btn {
        height: 36px;
        width: 36px;
    }


    .as-emoji-picker-tooltip-icon {
        width: 21px;
        height: 21px;
    }

    .as-emoji-picker-tooltip-icon-btn:hover .as-emoji-picker-tooltip-icon {
        width: 27px;
        height: 27px;
    }

    .as-emoji-picker-tooltip-remove-btn {
        height: 36px;
        width: 36px;
        font-size: 24px;
    }
}

@media (max-width: 500px) and (min-width: 400px) {
    .as-emoji-picker-tooltip-left-btn,
    .as-emoji-picker-tooltip-right-btn {
        height: 48px;
        width: 32px;
        font-size: 20px;
    }



    .as-emoji-picker-tooltip-scroller {
        width: 288px;
        height: 48px;
    }


    .as-emoji-picker-tooltip-icon-btn {
        height: 48px;
        width: 48px;
    }


    .as-emoji-picker-tooltip-icon {
        width: 28px;
        height: 28px;
    }

    .as-emoji-picker-tooltip-icon-btn:hover .as-emoji-picker-tooltip-icon {
        width: 36px;
        height: 36px;
    }

    .as-emoji-picker-tooltip-remove-btn {
        height: 48px;
        width: 48px;
        font-size: 32px;
    }
}