
.as-file-list-input {
    padding: 5px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    overflow: auto;
    --item-width: 100%;
    --item-require-width: 300px;
    position: relative;
    min-height: 42px;
}

.as-file-list-input.as-border-none {
    border: none;
    padding: 0;
}

.as-file-list-input.as-disabled {
    background-color: var(--as-disabled-background-color);
}

.as-file-list-input.as-disabled > * {
    opacity: 0.5;
    pointer-events: none;
}

.as-file-list-input-upload-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    background-color: rgba(30, 30, 80, 0.3);
    color: #b0fffb;
}

.as-file-list-input-upload-overlay::before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
}

.as-file-list-input-upload-overlay > span {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.as-file-list-input:not(.as-drag-over) .as-file-list-input-upload-overlay,
.as-file-list-input:not(.as-droppable) .as-file-list-input-upload-overlay,
.as-file-list-input:not(.as-droppable) .as-file-list-drag-file-text,
.as-file-list-input.as-read-only .as-file-list-input-upload-overlay {
    display: none;
}

/*span.mdi.mdi-upload*/

.as-file-list-input .as-file-input-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.as-file-list-input.as-read-only .as-file-list-input-add {
    display: none;
}

.as-file-list-input-add {
    border: none;
    width: 3.5em;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.2);
    height: calc(2em + 2px);
    padding-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    font-size: inherit;
}


.as-file-list-input-add:hover {
    background-color: rgb(235, 235, 235);
}

.as-file-list-input-add:active {
    background-color: rgb(212, 212, 212);
}


.as-file-list-input-add input {
    opacity: 0;
    visibility: hidden;
}

.as-file-list-input-add-icon-ctn {
    font-size: 1.5em;
    text-align: center;
    color: rgb(100, 100, 250);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    pointer-events: none;
}

.as-file-list-input-add-icon-ctn span {
    display: inline-block;
    vertical-align: middle;
}

.as-file-list-input-add-icon-ctn::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.as-file-list-input.as-drag-over.as-droppable .as-file-list-input-add,
.as-file-list-input.as-drag-over .as-file-list-drag-file-text {
    visibility: hidden;
}

.as-file-list-item {
    position: relative;
    height: calc(2em + 2px);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: calc(var(--item-width) - 5px);
    padding-left: 2.3em;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.as-file-list-item .as-file-list-item-check {
    display: none;
    position: absolute;
    left: 0.1em;
    top:calc(50% - 1px - 0.5em);


}


.as-file-list-input.as-show-check .as-file-list-item .as-file-list-item-check {
    display: block;
}

.as-file-list-input.as-show-check .as-file-list-item
{
    padding-left: 3.5em ;
}

.as-file-list-input.as-show-check .as-file-list-item .as-file-list-item-icon{
    left: 1.2em;
}

.as-file-list-item-icon {
    position: absolute;
    left: 0;
    top: calc(50% - 1em - 1px);
    bottom: 0;
    width: calc(2em + 2px);
    height: calc(2em + 2px);
}


.as-file-list-item-name {
    color: rgb(89, 89, 95);
    display: inline-block;
    overflow-x: hidden;
    vertical-align: middle;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}


.as-file-list-item::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.as-file-list-input .as-file-list-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.as-file-list-input:not(.as-empty) .as-file-list-drag-file-text,
.as-file-list-input.as-read-only .as-file-list-drag-file-text {
    display: none;
}


.as-file-list-item:hover {
    background-color: rgba(169, 169, 172, 0.1);
}

.as-file-list-item:hover {
    padding-right: 2.3em;
}

.as-file-list-item-quick-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    height: 2em;
    width: 2em;
    font-size: inherit;
    padding: 0;
    right: 5px;
    top: calc(50% - 1em);
    display: none;
}

.as-file-list-input .as-file-list-item:hover .as-file-list-item-quick-btn,
.as-file-list-item-quick-btn.as-quick-menu-attached {
    display: block;
}

.as-file-list-item-quick-btn > span {
    font-size: 1.2em;
}


.as-file-list-item-quick-btn.as-active {
    background-color: rgba(20, 185, 235, 0.3);
}

.as-file-list-item-quick-btn:hover {
    background-color: #91e4fb77;
}

.as-file-list-item-quick-btn:active {
    background-color: #91e4fb;

}

