.as-flexicon-input-icon-ctn > span,
.as-flexicon-input-icon-ctn > i,
.as-flexicon-input-icon-ctn > svg,
.as-flexicon-input-icon-ctn > img {
    font-size: 1em;
    line-height: 1;
}

.as-flexicon-input {
    position: relative;
    border: 1px solid #dddddd;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    white-space: nowrap;
}

.as-flexicon-input.as-border-none {
    border: none;
}

.as-flexicon-input.as-disabled {
    background-color: var(--as-disabled-background-color);
}

.as-flexicon-input::before {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.as-flexicon-input-icon-ctn:empty {
    display: none;
}


.as-flexicon-input:not(.as-flexicon-input-has-icon) input {
    padding-left: 0.3em;
}

.as-flexicon-input-icon-ctn {
    display: inline-block;
    vertical-align: middle;
    /*text-align: center;*/
    font-size: 1.2em;
    width: 1.25em;
    text-align: center;
}

.as-flexicon-input-unit-ctn {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.as-flexicon-input-unit-ctn:empty {
    display: none;
}


.as-flexicon-input input {
    border: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align: middle;
}


.as-flexicon-input.as-flexicon-input-has-icon input,
.as-flexicon-input.as-flexicon-input-has-unit input {
    width: calc(100% - 1.5em);
}

.as-flexicon-input.as-flexicon-input-has-unit input {
    text-align: right;
}


.as-flexicon-input.as-flexicon-input-has-icon.as-flexicon-input-has-unit input {
    width: calc(100% - 3em);
}