.as-flexicon-button {
    box-sizing: border-box;
    border: solid 1px #bfbfbf;
    background-color: #ebebeb;
    border-radius: 0.2em;
    outline: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: var(--as-input-height);
    font-size: 1rem;
    cursor: pointer;
    color: black;
}

.as-flexicon-button:disabled {
    pointer-events: none;
    background-color: #c7c7c7 !important;
}


.as-flexicon-button div,
.as-flexicon-button span {
    font-weight: inherit;
    font-size: inherit;
}


.as-icon-button-table-box {
    display: table;
    width: 100%;
    height: 100%;
}

.as-flexicon-button:hover .as-flexicon-button-content {
    background-color: rgba(0, 0, 0, 0.1);
}

.as-flexicon-button:active {
    -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
}


.as-flexicon-button-content {
    display: table-row;
}


.as-flexicon-button-icon-container,
.as-flexicon-button-text-container {
    display: table-cell;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: center;
}

.as-flexicon-button-icon-container:empty,
.as-flexicon-button-text-container:empty:not([data-ml-key]) {
    display: none;
}

.as-flexicon-button-icon-container {
    width: 2em;
    background-color: rgba(0, 0, 0, 0.0893617021);
    color: rgb(146, 146, 146);
}


.as-flexicon-button-icon-container > span,
.as-flexicon-button-icon-container > i,
.as-flexicon-button-icon-container > svg,
.as-flexicon-button-icon-container > img {
    font-size: 1em;
}

.as-flexicon-button-text-container {
    padding-left: 0.357em;
    padding-right: 0.357em;
    box-sizing: border-box;
    min-width: 2em;
}


.as-flexicon-button-icon-container + .as-flexicon-button-text-container {
    border-left: solid 1px #bfbfbf;
}

.as-flexicon-button-icon-container:empty + .as-flexicon-button-text-container {
    border-left: none;
    padding-left: 0.714em;
    padding-right: 0.714em;
}

/*** theme  ***/

.as-flexicon-button.primary {
    border-color: #005bbd;
    background-color: #007bff;
    color: white;
}

.as-flexicon-button.primary .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.primary .as-flexicon-button-text-container {
    border-color: #005bbd;
}


.as-flexicon-button.secondary {
    border-color: #4e555a;
    background-color: #6d767e;
    color: white;
}

.as-flexicon-button.secondary .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.secondary .as-flexicon-button-text-container {
    border-left-color: #4e555a;
}


.as-flexicon-button.success {
    border-color: #1e7b34;
    background-color: #29a847;
    color: white;
}

.as-flexicon-button.success .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.success .as-flexicon-button-text-container {
    border-left-color: #1e7b34;
}


.as-flexicon-button.danger {
    border-color: #b21f2e;
    background-color: #dc3848;
    color: white;
}

.as-flexicon-button.danger .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.danger .as-flexicon-button-text-container {
    border-left-color: #b21f2e;
}

.as-flexicon-button.warning {
    border-color: #9e7700;
    background-color: #e0a800;
    color: black;
}

.as-flexicon-button.warning .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.warning .as-flexicon-button-text-container {
    border-left-color: #9e7700;
}

.as-flexicon-button.info {
    border-color: #117888;
    background-color: #17a2b8;
    color: white;
}

.as-flexicon-button.info .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.info .as-flexicon-button-text-container {
    border-left-color: #117888;
}

.as-flexicon-button.light {
    border-color: #c9d1d9;
    background-color: #f8f9fa;
    color: #212529;
}

.as-flexicon-button.light .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.light .as-flexicon-button-text-container {
    border-left-color: #c9d1d9;
}

.as-flexicon-button.dark {
    border-color: #171a1c;
    background-color: #343a40;
    color: white;
}

.as-flexicon-button.dark .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.dark .as-flexicon-button-text-container {
    border-left-color: #171a1c;
}

.as-flexicon-button.link {
    border-color: transparent;
    background-color: transparent;
    color: #007bff;
}

.as-flexicon-button.link .as-flexicon-button-icon-container {
    color: #007bff;
    background: transparent;
}

.as-flexicon-button.link .as-flexicon-button-text-container {
    border-left-color: transparent;
}

.as-flexicon-button.link:hover .as-flexicon-button-text-container {
    text-decoration: underline;
}