.as-flexicon-button {
    box-sizing: border-box;
    border: none;
    background-color: #ebebeb;
    border-radius: var(--default-radius);
    outline: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    --base-size: var(--default-size);
    --base-padding: 16px;
    height: var(--base-size);
    font-size: 1rem;
    cursor: pointer;
    color:  var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.as-flexicon-button:disabled {
    pointer-events: none;
}


.as-flexicon-button.as-has-icon[data-icon-position="start"] .as-flexicon-button-content {
    padding-left: 0;
}


.as-flexicon-button.as-has-icon[data-icon-position="end"] .as-flexicon-button-content {
    padding-right: 0;
}

.as-flexicon-button.as-has-icon[data-icon-position="end"] .as-flexicon-button-content {
    flex-direction: row-reverse;
}


.as-flexicon-button[data-size="large"] {
    --base-size: var(--large-size);
    font-size: var(--large-font-size);
    min-width: var(--large-button-min-width);
}

.as-flexicon-button .as-flexicon-button-content {
    padding: 0 var(--base-padding);
}


.as-flexicon-button .as-flexicon-button-icon-container {
    font-size: var(--large-icon-size);
    width: var(--base-size);
}


.as-flexicon-button[data-size="v0"] {
    --base-size: 30px;
    --base-padding: 5px;
    font-size: 14px;
    min-width: var(--default-button-min-width);
    border-radius: 0.3em;
    border: 1px solid #ddd;
}

.as-flexicon-button[data-size="v0"] .as-flexicon-button-text-container {
    font-weight: normal;
}


.as-flexicon-button[data-size="regular"],
.as-flexicon-button[data-size="default"] {
    --base-size: var(--default-size);
    --base-padding: 16px;
    font-size: var(--default-font-size);
    min-width: var(--default-button-min-width);
}


.as-flexicon-button[data-size="regular"] .as-flexicon-button-icon-container,
.as-flexicon-button[data-size="default"] .as-flexicon-button-icon-container {
    font-size: var(--default-icon-size);
}


.as-flexicon-button[data-size="small"] {
    --base-size: var(--small-size);
    --base-padding: 16px;
    font-size: var(--small-font-size);
    min-width: var(--small-button-min-width);
}

.as-flexicon-button[data-size="small"] .as-flexicon-button-icon-container {
    font-size: var(--small-icon-size);
}


.as-flexicon-button[data-variant="primary"] {
    background-color: var(--primary-color);
    color: white;
}


.as-flexicon-button[data-variant="primary"]:hover {
    background-color: var(--hover-primary-color);
}


.as-flexicon-button[data-variant="primary"]:disabled {
    background-color: var(--disabled-primary-color);
}


.as-flexicon-button[data-variant="primary"]:active {
    background-color: var(--active-primary-color);
}


.as-flexicon-button[data-variant="secondary"] {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.as-flexicon-button[data-variant="secondary"]:hover {
    color: var(--hover-primary-color);
    border-color: var(--hover-primary-color);
    background-color: var(--hover-secondary-color);
}


.as-flexicon-button[data-variant="secondary"]:disabled {
    color: var(--disabled-primary-color);
    border-color: var(--disabled-primary-color);
    background-color: var(--disabled-secondary-color);
}


.as-flexicon-button[data-variant="secondary"]:active {
    color: var(--active-primary-color);
    border-color: var(--active-primary-color);
    background-color: var(--active-secondary-color);
}


.as-flexicon-button[data-variant="tertiary"] {
    background-color: var(--tertiary-color);
    color: white;
}


.as-flexicon-button[data-variant="tertiary"]:hover {
    background-color: var(--hover-tertiary-color);
}


.as-flexicon-button[data-variant="tertiary"]:disabled {
    background-color: var(--disabled-tertiary-color);
}


.as-flexicon-button[data-variant="tertiary"]:active {
    background-color: var(--active-tertiary-color);
}





.as-flexicon-button[data-variant="light"] {
    background-color: white;
    border: 1px solid var(--border-color);
    color:  var(--dark-color);
}

.as-flexicon-button[data-variant="light"]:hover {
    background-color: #f6f6f6;
}


.as-flexicon-button[data-variant="light"]:disabled {
    border-color: var(--disabled-border-color);
    color: var(--as-disabled-text-color);
    background-color: var(--as-disabled-background-color);
}


.as-flexicon-button[data-variant="light"]:active {
    color:  var(--dark-color);
    background-color: #9A9C9E;
}


.as-flexicon-button[data-variant="link"] {
    background-color: transparent;
    color: var(--primary-color);
    min-width: var(--base-size);
}

.as-flexicon-button[data-variant="link"]:hover .as-flexicon-button-text-container {
    text-decoration: underline;
}

.as-flexicon-button[data-variant="link"]:active {
    box-shadow: none;
    color: var(--disabled-primary-color);
}

.as-flexicon-button[data-variant="link"]:disabled {
    color: var(--disabled-primary-color);
}


.as-flexicon-button.as-has-icon[data-variant="link"] {
    /*height: auto;*/
}

.as-flexicon-button[data-variant="link"] .as-flexicon-button-content {
    padding-left: 0;
    padding-right: 0;
}


.as-flexicon-button[data-variant="danger"] {
    background-color: rgb(239, 68, 68);
    color: white;
}


.as-flexicon-button[data-variant="danger"]:hover {
    background-color: rgb(216, 61, 61);
}


.as-flexicon-button[data-variant="danger"]:disabled {
    background-color: #f7a2a2;
}

.as-flexicon-button[data-variant="danger"]:active {
    background-color: #b02020;
}



.as-flexicon-button[data-variant="v0"] {
    border: var(--button-border);
    border-radius: var(--button-round-coner);
    background-color: var(--button-background-color_1);
    color:  var(--dark-color);

}


.as-flexicon-button[data-variant="v0"]:hover {
    background-color: var(--button-background-color_2);
}


.as-flexicon-button[data-variant="v0"]:disabled {
    opacity: 0.65;
}


.as-flexicon-button[data-variant="v0"]:active {
    -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
}

.as-flexicon-button[data-variant="v0"] div.as-flexicon-button-text-container {
    font-weight: normal;
}





.as-flexicon-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*.as-flexicon-button[data-variant="regular"]:hover {*/
/*    background-color: var(--as-hover-background-color) ;*/
/*    color: var(--as-disabled-text-color);*/
/*}*/


/*.as-flexicon-button[data-variant="regular"]:disabled {*/
/*    background-color: var(--as-disabled-background-color) ;*/
/*    color: var(--as-disabled-text-color);*/
/*    opacity: 0.65;*/
/*}*/


.as-flexicon-button div,
.as-flexicon-button span {
    font-weight: inherit;
    font-size: inherit;
}


.as-icon-button-table-box {
    width: 100%;
}

/*.as-flexicon-button:hover .as-flexicon-button-content {*/
/*    background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

.as-flexicon-button:not([data-variant]):active {
    -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.125);
}


.as-flexicon-button-icon-container,
.as-flexicon-button-text-container {
    display: table-cell;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: center;
}

.as-flexicon-button-icon-container:empty,
.as-flexicon-button-text-container:empty:not([data-ml-key]) {
    display: none;
}

.as-flexicon-button-icon-container {
}


.as-flexicon-button-icon-container > span,
.as-flexicon-button-icon-container > i,
.as-flexicon-button-icon-container > svg,
.as-flexicon-button-icon-container > img {
    font-size: 1em;
    display: block;
}

div.as-flexicon-button-text-container {
    font-weight: bold;
    /*padding-left: 0.357em;*/
    /*padding-right: 0.357em;*/
    /*box-sizing: border-box;*/
    /*min-width: 2em;*/
}


.as-flexicon-button-icon-container + .as-flexicon-button-text-container {
}

/*.as-flexicon-button-icon-container:empty + .as-flexicon-button-text-container {*/
/*    border-left: none;*/
/*    padding-left: 0.714em;*/
/*    padding-right: 0.714em;*/
/*}*/

/*** theme  ***/

.as-flexicon-button.primary {
    border-color: #005bbd;
    background-color: #007bff;
    color: white;
}

.as-flexicon-button.primary .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.primary .as-flexicon-button-text-container {
    border-color: #005bbd;
}


.as-flexicon-button.secondary {
    border-color: #4e555a;
    background-color: #6d767e;
    color: white;
}

.as-flexicon-button.secondary .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.secondary .as-flexicon-button-text-container {
    border-left-color: #4e555a;
}


.as-flexicon-button.success {
    border-color: #1e7b34;
    background-color: #29a847;
    color: white;
}

.as-flexicon-button.success .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.success .as-flexicon-button-text-container {
    border-left-color: #1e7b34;
}


.as-flexicon-button.danger {
    border-color: #b21f2e;
    background-color: #dc3848;
    color: white;
}

.as-flexicon-button.danger .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.danger .as-flexicon-button-text-container {
    border-left-color: #b21f2e;
}

.as-flexicon-button.warning {
    border-color: #9e7700;
    background-color: #e0a800;
    color:  var(--dark-color);
}

.as-flexicon-button.warning .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.warning .as-flexicon-button-text-container {
    border-left-color: #9e7700;
}

.as-flexicon-button.info {
    border-color: #117888;
    background-color: #17a2b8;
    color: white;
}

.as-flexicon-button.info .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.info .as-flexicon-button-text-container {
    border-left-color: #117888;
}

.as-flexicon-button.light {
    border-color: #c9d1d9;
    background-color: #f8f9fa;
    color: #212529;
}

.as-flexicon-button.light .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.light .as-flexicon-button-text-container {
    border-left-color: #c9d1d9;
}

.as-flexicon-button.dark {
    border-color: #171a1c;
    background-color: #343a40;
    color: white;
}

.as-flexicon-button.dark .as-flexicon-button-icon-container {
    color: white;
}

.as-flexicon-button.dark .as-flexicon-button-text-container {
    border-left-color: #171a1c;
}

.as-flexicon-button.link {
    border-color: transparent;
    background-color: transparent;
    color: #007bff;
}

.as-flexicon-button.link .as-flexicon-button-icon-container {
    color: #007bff;
    background: transparent;
}

.as-flexicon-button.link .as-flexicon-button-text-container {
    border-left-color: transparent;
}

.as-flexicon-button.link:hover .as-flexicon-button-text-container {
    text-decoration: underline;
}