.as-hexa-section-label {
    position: relative;
    -webkit-print-color-adjust: exact;
    /*friendly print*/
}

.as-hexa-section-label-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    padding-right: 2.5em;
    color: white;
    font-weight: bold;
    z-index: 2;
}

@media print {
    .as-hexa-section-label-text {
        color: white !important;
    }

    .as-hexa-section-label-index {
        color: rgb(237, 147, 54) !important;
    }
}


.as-hexa-section-label-index {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: rgb(237, 147, 54);
    font-weight: 900;
    z-index: 2;
}

.as-hexa-section-label-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.as-hexa-section-label-background>svg {
    display: block;
}

.as-hexa-section-label-index-box {
    stroke: rgb(251, 186, 130);
    fill: white;
    stroke-width: 2.5;
}

.as-hexa-section-label-text-box {
    fill: rgb(237, 147, 54);
    stroke: none;
}