/****Adapt icon************/
.fa-close:before {
    content: "\f00d";
}


.kv-document-2-site {
    display: flex;
    align-content: stretch;
}

.kv-document-2-site-left {

    background-color: rgb(61, 29, 154);
}

.kv-document-2-site-right {
    flex-grow: 1;

}

.kv-document-2-site-left-header {
    font-family: Roboto, sans-serif;
    padding: 25px 20px;

}

.kv-document-2-site-left-header-logo {
    height: 65px;
    display: inline-block;
    vertical-align: middle;
}

.kv-document-2-site-left-header-text {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    color: #26afa8;
}

.kv-document-2-site-left .as-vertical-timeline {
    padding: 5px 20px;
}


/* For Document page */
.kv-document-page {
    flex-direction: column;
    display: flex;
}

div.kv-document-page.absol-frame {
    display: flex;
}

.kv-document-page-header {
    position: relative;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.kv-document-page-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.kv-document-page-close-btn {
    float: right;
}

.kv-document-transparent-btn {
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    color: var(--as-transparent-button-text-color);
    font-size: 20px;
    border: none;
}

.kv-document-transparent-btn:hover {
    color: var(--as-transparent-button-text-hover-color);
}

.kv-document-transparent-btn:active {
    color: var(--as-transparent-button-text-active-color);
}


.kv-document-page-content {
    flex-grow: 1;
    overflow: auto;
    padding: 10px 20px 10px 20px;
}

.kv-document-page-footer {
    display: flex;
    position: relative;
    padding: 30px 20px 10px 20px;
}

.kv-document-page-footer .as-flexicon-button {
    min-width: 110px;
    height: 30px;
}

.kv-document-page-footer-left {
    flex-grow: 1;
}

.kv-document-page-footer-left > *:not(:first-child) {
    margin-left: 20px;
}

.kv-document-page-footer-right {
    text-align: right;
}


.kv-document-page-footer-right > *:not(:last-child) {
    margin-right: 20px;
}

.kv-document-link {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: black;
    cursor: pointer;
    height: 30px;
    padding: 0 20px;
    white-space: normal;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.kv-document-link:hover {
    color: rgb(20, 100, 246);
}


.kv-document-link > span,
.kv-document-link::before {
    display: inline-block;
    vertical-align: middle;
}

.kv-document-link::before {
    content: "";
    height: 100%;
}


.kv-document-link.kv-variant-primary {
    color: white;
    background-color: rgb(26, 146, 255);
}


/*************************************************************/

.as-message-input-body .as-message-input-text-input {
    padding-left: var(--control-horizontal-distance-2);
    padding-top: var(--control-verticle-distance-1);
    padding-bottom: var(--control-verticle-distance-1);
    padding-right: var(--control-horizontal-distance-2);
    min-height: 40px;
}

/*TODO: find usage*/
.bsc-white .absol-selectmenu-anchor-content-container {
    z-index: 200001;
}

.bsc-white .absol-context-menu-anchor {
    font-size: var(--font-size-right-mouse-menu);
}

.card-mobile-content > div:not([class]):first-child:last-child .as-dynamic-table-wrapper.as-overflow-y {
    height: 100%;
}

/* todo: normalize for all module
.absol-selectmenu-holder-item .absol-selectlist-item-text,
.absol-selectmenu-holder-item .absol-selectlist-item-desc {
    line-height: calc(var(--control-height) - 10px);
}

.bsc-white .absol-selectmenu {
    height: var(--control-height);
    font-size: var(--font-size-text-input);
}

.bsc-white .absol-selectlist .absol-selectlist-item {
    font-size: var(--font-size-text-input);
    height: 1.42857142857em;
}

.bsc-white .absol-selectlist .absol-selectlist-item>span {
    line-height: 1.42857142857;
}

.bsc-white .absol-search-text-input {
    font-size: var(--font-size-text-input);
}

 */

.absol-single-page.as-has-footer-margin > .absol-single-page-scroller{
   padding-bottom:  var(--footer-margin);
}