.as-message-input-text-input {
    min-height: 2em;
    font-size: 14px;
    outline: none;
    max-height: 6em;
    line-height: 1.5em;
    overflow-y: auto;
    outline: none;
}

.as-message-input {
    border-top: 1px solid #d4d4d7;
    border-bottom: 1px solid #d4d4d7;
    background-color: white;
    outline: none;
}

.as-message-input-extenal-tools-popup {
    position: absolute;
    left: 10px;
    bottom: 100%;
    right: 10px;
    background: white;
}


.as-message-input-extenal-tools {
    position: relative;
}

.as-message-input-plugin-btn {
    border: none;
    height: 2.5em;
    padding: 0;
    width: 2.5em;
    font-size: inherit;
    background-color: transparent;
    color: #767676;
    outline: none;
}

.as-message-input-plugin-btn:hover,
.as-message-input-plugin-btn-active {
    color: #0068ff;
}


.as-message-input-plugin-btn span {
    font-size: 1.5em;
}

.as-message-input-body {
    border-top: 1px solid #d4d4d7;
    padding-right: 40px;
    position: relative;
}

.as-message-input-send-btn,
.as-message-input-cancel-btn {
    position: absolute;
    right: 5px;
    height: 30px;
    top: calc(50% - 15px);
    width: 30px;
    text-align: center;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

.as-message-input-send-btn span,
.as-message-input-cancel-btn span {
    font-size: 20px;
}

/* .as-message-input-cancel-btn {
    color: white;
    border-radius: 50%;
    background-color: rgba(169, 169, 169);

} */

.as-message-input-img-list:empty {
    display: none;
}

.as-message-input-show-emoji {}

.as-message-input-file-list {
    display: block;
}


.as-message-input-attach-preview {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 5px;
}

.as-message-input-attach-preview-image {
    height: 40px;
    width: auto;
    min-width: 20px;
    image-orientation: from-image;
}


.as-message-input-attach-preview-close-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    padding: 0;
    color: rgb(169, 169, 169);
}

.as-message-input-attach-preview-close-btn span {
    font-size: 14px;
}

.as-message-input-attach-preview-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(200, 200, 200);
}

.as-message-input-attach-preview-close-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
}

.as-message-input.as-mode-edit .as-message-input-plugin-image,
.as-message-input.as-mode-edit .as-message-input-plugin-file,
.as-message-input:not(.as-mode-edit) .as-message-input-cancel-btn,
.as-message-input.as-mode-edit .as-message-input-send-btn {
    display: none;
}