.as-conversation-box {
    display: flex;
    flex-direction: column;
}

.as-conversation-box-message-ctn {
    flex-grow: 1;
}

.as-conversation-box-input-ctn {
    /** empty**/
}

.as-message-input {
    position: relative;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow: visible;
    --plugin-buttons-width: 0px;
}


.as-message-input-plugin-btn {
    font-size: inherit;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    color: rgb(122, 122, 122);
    background-color: rgb(241, 241, 241);
    outline: none;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}


.as-message-input-plugin-btn:active {
    background-color: rgb(212, 212, 212);
}

.as-message-input-plugin-btn:hover {
    background-color: rgb(235, 235, 235);

}


.as-message-input-plugin-btn span {
    font-size: 24px;
}


.as-message-input-right {
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 0;
    white-space: nowrap;
}

.as-message-input-right .as-message-input-plugin-btn {
    margin-left: 10px;
}


.as-message-input-emoji-btn-ctn {
    position: absolute;
    left: 5px;
    bottom: 5px;
}


.as-message-input-pre-ctn {
    position: relative;
    width: calc(100% - 55px - var(--plugin-buttons-width));
    border-radius: 25px;
    box-sizing: border-box;
    transition: width 0.1s;
    padding: 10px 20px 10px 50px;
    background-color: rgb(241, 241, 244);
}


.as-message-input-pre-ctn::after {
    display: inline-block;
    content: "";
    height: 30px;
    vertical-align: middle;
}


.as-message-input.as-has-text .as-message-input-pre-ctn,
.as-message-input.as-has-quote .as-message-input-pre-ctn,
.as-message-input.as-has-attachment .as-message-input-pre-ctn {
    width: calc(100% - 55px);
}


.as-message-input-pre {
    display: inline-block;
    width: calc(100% - 2px);
    max-height: 6.5em;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    vertical-align: middle;
    margin: 0;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.5;
    border: none;
}

.as-message-input-pre:before {
    content: "";
    line-height: 30px;
    display: inline;
    vertical-align: middle;
}

.as-message-input-camera-caller,
.as-message-input-camera-microphone {
    display: none;
}

.as-message-input-emoji-picker-ctn {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: white;
}


.as-message-input-plugin-btn.as-message-input-plugin-send {
    color: white;
    background: linear-gradient(135deg, rgb(0, 120, 212), rgb(0, 188, 242));
    transform: scale(1);
    transition: scale 0.1s;
}

.as-message-input-plugin-btn.as-message-input-plugin-send span {
    font-size: 20px;
}

.as-message-input-plugin-btn.as-message-input-plugin-send:hover {
    background: linear-gradient(135deg, rgb(0, 140, 212), rgb(0, 208, 252));
}

.as-message-input-plugin-btn.as-message-input-plugin-send:active {
    transform: scale(0.9);
}


.as-message-input:not(.as-text-changed):not(.as-has-attachment):not(.as-has-quote) .as-message-input-plugin-send,
.as-message-input:not(.as-has-text):not(.as-has-attachment):not(.as-has-quote) .as-message-input-plugin-send,
.as-message-input:not(.as-mode-edit) .as-message-input-plugin-cancel,
.as-message-input.as-mode-edit.as-text-changed.as-has-text .as-message-input-plugin-cancel,
.as-message-input:not(.as-has-attachment):not(.as-drag-hover) .as-message-input-attachment-ctn,
.as-message-input.as-auto-send .as-message-input-attachment-ctn,
.as-message-input.as-mode-edit .as-message-input-plugin-file,
.as-message-input.as-has-text .as-message-input-plugin-file,
.as-message-input.as-has-quote .as-message-input-plugin-file,
.as-message-input:not(.as-has-quote) .as-message-quote-box {
    display: none;
}

.as-message-input .as-message-quote-box {
    border-bottom: 1px solid #ddd;
}

.as-message-quote-box {
    position: relative;

}

.as-message-input.as-has-attachment .as-message-quote-box {
    margin-bottom: 5px;
}

.as-message-quote-remove-btn {
    position: absolute;
    color: rgb(43, 44, 51);
    right: -7px;
    top: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    outline: none;
}

.as-message-quote-remove-btn:hover {
    color: rgb(143, 144, 151);
}

.as-message-quote-box {
    user-select: none;
    -webkit-user-select: none;
}

.as-message-quote-box:not(.as-removable) .as-message-quote-remove-btn {
    display: none;
}


.as-message-quote-box > div {
    display: inline-block;
    vertical-align: top;
}

.as-message-quote-box:not(.as-has-img):not(.as-has-file) .as-message-quote-img {
    display: none;
}

.as-message-quote-img {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

.as-message-quote-sym {
    width: 25px;
}

.as-message-quote-sym > span {
    font-size: 25px;
    color: rgb(169, 169, 172);
}

.as-message-quote-content {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: calc(100% - 26px);
    box-sizing: border-box;
    padding-left: 20px;
}

.as-message-quote-box.as-has-img .as-message-quote-content,
.as-message-quote-box.as-has-file .as-message-quote-content {
    width: calc(100% - 66px);
    padding-left: 5px;
}

.as-message-quote-box.as-has-file .as-message-quote-img {
    background-origin: padding-box;
    background-size: contain;
}

.as-message-quote-text {
    font-size: 1.14em;
    line-height: 1.75;
    font-style: italic;
    color: rgb(43, 44, 51);
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

.as-message-quote-box.as-shorten-text .as-message-quote-text {
    word-break: normal;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.as-message-quote-text .as-emoji {
    width: 20px;
    height: 20px;
}

.as-message-quote-desc {
    font-size: 0.85em;
    color: rgb(80, 80, 88);
}

.as-message-input-attachment-ctn {
    border-bottom: 1px solid #ddd;
    max-height: 170px;
    overflow-y: auto;
}


.as-message-input-attach-preview {
    display: inline-block;
    position: relative;
    width: 135px;
    height: 135px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.as-message-input-attach-preview-image {
    min-width: 20px;
    image-orientation: from-image;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.as-message-input-attach-preview-file {
    max-width: 50%;
    max-height: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.as-message-input-attach-preview-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid white;
    outline: none;
    padding: 0;
    color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.64);
    background-color: rgba(100, 100, 100, 0.5);
}

.as-message-input-attach-preview-close-btn span {
    font-size: 14px;
}

.as-message-input-attach-preview-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(200, 200, 200);
}

.as-message-input-attach-preview-close-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
}


.as-message-input:not(.as-drag-hover) .as-message-input-attachment-add-btn-drop,
.as-message-input.as-drag-hover .as-message-input-attachment-add-btn-plus {
    display: none;
}

.as-message-input-attach-preview-name {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    text-shadow: 0px 1px 3px white;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.as-message-input-attachment-add-btn {
    display: inline-block;
    vertical-align: middle;
    height: 135px;
    width: 60px;
    border: none;
    border-radius: 10px;
    padding: 0;
    background-color: rgb(196, 196, 200);
    color: white;
    font-size: 50px;
    outline: none;
    margin-bottom: 10px;
}

.as-message-input-attachment-add-btn:hover {
    background-color: rgb(169, 169, 169)

}

.as-message-input-attachment-add-btn:active {
    background-color: rgb(138, 141, 145)
}

.as-message-input-external-tools-popup {
    position: absolute;
    left: 0;
    max-width: 100%;
    bottom: 100%;
    background-color: white;
}

img.as-emoji {
    vertical-align: bottom;
}

span.as-emoji-text {
    position: absolute;
    color: transparent;
    width: 20px;
    opacity: 0;
}