.as-message-dialog {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 12px 0 rgba(15, 0, 97, 0.1);
}

.as-message-dialog-header {
    padding: var(--distance-6) var(--distance-6) 0 var(--distance-6);
    height: var(--default-size);
    border-bottom: 1px solid rgba(82, 88, 102, 0.2);
    background-color: #f5f5f5;
}


.as-message-dialog-title {
    font-size: 18px;
    font-weight: bold;
}

.as-message-dialog-body {
    min-width: 30px;
    padding: var(--distance-6);
}

.as-message-dialog-footer {
    text-align: center;
    padding: var(--distance-6);
    border-top:1px solid rgba(82, 88, 102, 0.2);
    background-color: #f5f5f5;
}

.as-message-dialog-footer:empty,
.as-message-dialog-header:empty {
    display: none;
}


.as-message-dialog-footer button:not(:last-child) {
    margin-right: var(--distance-5);
}


.as-message-dialog-footer button.as-flexicon-button .as-flexicon-button-text-container {
    padding-left: 2em;
    padding-right: 2em;
}