:root {
    --control-horizontal-distance-2: 10px;
}

.mk-nav {
    position: relative;
    --mk-nav-line-top: 0;
    /*font-family: Roboto, sans-serif;*/
    font-family: Roboto, sans-serif;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    --mk-navigator-bound-left: 0;
    box-sizing: border-box;
    --max-text-width: 10px;
    min-width: calc(var(--max-text-width) + var(--distance-3) *2 + 20px + var(--distance-2) * 2 + 2px);
    color: var(--dark-color);
    border-radius: var(--large-radius);
    background-color: white;
    overflow: hidden;
    padding: var(--distance-4);
}


.mk-nav.mk-has-draggable .mk-nav-item {
    padding-left: calc(2em + 2px);
}

.mk-nav-item {
    font-size: 16px;
    height: var(--large-size);
    padding-left: var(--distance-3);
    padding-right: 20px;
    min-width: 100px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0;
}

.mk-nav-item.as-children {
    font-size: 14px;
    padding-left: calc(var(--distance-3) + var(--distance-4) * 2 * var(--level));
}


.mk-nav-item.as-board-moving {
    transform: none;
    left: var(--mk-navigator-bound-left) !important;
    background-color: rgb(169, 169, 172, 0.3);
}

.mk-nav-item:hover {
    background-color: var(--space-background-color);
}

.mk-nav-item.mk-current:hover {
    background-color: rgba(193, 219, 224, 1);
}

.mk-nav-item.as-hidden {
    display: none;
}

.mk-nav-item-icon-ctn {
    color: var(--grey-color)
}

.mk-nav-item-text-ctn {
    font-weight: bold;
    flex-grow: 1;
    padding-right: var(--distance-2);
    padding-left: var(--distance-2);
    text-shadow: none !important;/*override markup style*/
}


.mk-nav-item-icon-ctn span {
    font-size: 20px;
}

.mk-nav-item-switch-ctn {

}

.mk-nav-item:not(:last-child)::after {
    content: "";
    border-bottom: 1px dashed #ddd;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
}

/*


.mk-nav-item:hover::after,
.mk-nav-item.mk-current::after{
    border-color: rgb(20, 100, 246);
    z-index: 3;
}
*/


.mk-nav-item.mk-current {
    color: var(--primary-color);
    background-color: var(--table-new-row-selected);
}

.mk-nav-item.mk-current .mk-nav-item-icon-ctn {
    color: inherit;
}

.mk-nav-item-drag-zone {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    font-size: inherit;
}

.mk-nav-item-drag-zone i {
    font-size: 1.7em;
}

.mk-nav-item-drag-zone::before {
    content: "";
    height: 100%;
}

.mk-nav-item-drag-zone::before,
.mk-nav-item-drag-zone i {
    display: inline-block;
    vertical-align: middle;
}