/**** APP ***************/
:root {
    ---as-bottom-tabbar-height : 56px;
}


.am-application {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.am-application-frameview {
    width: 100%;
    height: 100%;
}


.am-application-tabbar {
    display: none;
}

.am-application.am-show-tabbar .am-application-tabbar {
    display: block;
}

.am-application.am-show-tabbar .am-application-frameview {
    height: calc(100% - var(---as-bottom-tabbar-height));
}


/*************** HEADER****************************************/

.am-header-bar {
    display: flex;
    align-items: center;
    background-color: var(--variant-color-primary);
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    position: relative;
    font-family: Roboto, sans-serif;
    color: white;
    height: 3em;
    font-size: 1rem;
    --header-bar-color: var(--dark-color);
}

.am-header-bar button.am-header-bar-action,
.am-header-bar button.am-header-bar-command{
    color:var(--dark-color);/*quick fix*/
}

.am-header-bar button.am-header-bar-action:active,
.am-header-bar button.am-header-bar-command:active{
    color:var(--gray-color);/*quick fix*/
}


.am-header-bar-left-btn,
button.am-header-bar-command {
    display: inline-block;
    text-align: center;
    border: none;
    background-color: transparent;
    height: 3em;
    width: 3em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: white;
    outline: none;
    font-size: inherit;
}

.am-header-bar-left-btn span,
button.am-header-bar-command span,
.am-header-bar-left-btn i,
button.am-header-bar-command i {
    font-size: 2em;
}

button.am-header-bar-command:not(:last-child) {
    margin-right: 0.6256em;
}


.am-header-bar-left-btn:active,
button.am-header-bar-action:active,
button.am-header-bar-command:active {
    color: rgb(220, 220, 222);
}


.as-header-bar-notification-action {
    white-space: nowrap;
}

.as-header-bar-notification-action-count {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.as-header-bar-notification-action-count::before {
    display: none;
    content: "0";
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    bottom: 5px;
    right: -8px;
    background-color: rgb(221, 35, 52);
    color: white;
    text-align: center;
    min-width: 18px;
    height: 18px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    border-radius: 9px;
}

.am-header-bar-title-ctn {
    flex-grow: 1;
    white-space: nowrap;
    overflow: inherit;
    position: relative;
    height: 3em;
}

.am-header-bar-no-size-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}

.am-header-bar-no-size-wrapper::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.am-header-bar-title-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

}

.am-header-bar-title-ctn:first-child .am-header-bar-title {
    padding-left: 1.2em;
}


.am-header-bar-title {
    font-size: 1.2em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;

}

.am-header-bar-title-desc {
    font-size: 0.8em;
    line-height: 2;
}

.am-header-bar-title-desc:empty {
    display: none;
}


.am-header-bar-right {

}

.am-header-bar-right::after {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 0.357142857em;
}


.am-header-bar-right-item-ctn {
    vertical-align: middle;
    display: inline-block;
}


button.am-header-bar-action {
    height: 3em;
    width: 3em;
    background-color: transparent;
    color: white;
    border: none;
    font-size: inherit;
    outline: none;
    vertical-align: middle;
}

.am-header-bar-quickmenu-btn.am-status-active .am-header-bar-quickmenu-btn-circle {
    background-color: rgba(169, 169, 169, 0.5);
}


.am-header-bar-quickmenu-btn-circle {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    text-align: center;
}

.am-header-bar-quickmenu-btn-circle span {
    font-size: 1.6em;
    line-height: 1.25em;
}

.am-header-bar-quickmenu-btn.as-active .mdi-dots-horizontal-circle-outline,
.am-header-bar-quickmenu-btn:not(.as-active) .mdi-dots-horizontal-circle {
    display: none;
}


.am-header-bar.am-light-weight,
.am-header-bar.am-light-weight .am-header-bar-title-ctn,
.am-header-bar.am-light-weight .am-header-bar-left-btn,
.am-header-bar.am-light-weight button.am-header-bar-command,
.am-header-bar.am-light-weight button.am-header-bar-action {
    height: calc(2rem + 2px);
}


.am-header-bar.am-light-weight .am-header-bar-left-btn span,
.am-header-bar.am-light-weight button.am-header-bar-command span,
.am-header-bar-left-btn i,
.am-header-bar.am-light-weight button.am-header-bar-command i {
    font-size: 1.6em;
}

.am-application.am-stack > .am-activity {
    position: absolute;
    left: 0;
    top: 0;
}


.am-activity {
    width: 100%;
    height: 100%;
    background-color: white;
}

.am-activity.am-grid {
    grid-template-areas: 'header' 'body';
    grid-template-rows: 3em auto;
    display: grid;
}


.am-activity.am-grid > .am-header-bar {
    grid-area: header;
}

.am-activity.am-grid > .am-activity-body {
    grid-area: body;
    padding: 10px 5px;
    overflow: auto;
}

.am-explore-item-block {
    display: inline-block;
    vertical-align: top;
    padding: 10px 18px 15px 18px;
    position: relative;
    user-select: none;
    box-sizing: border-box;
    width: var(--item-width);
    outline: none;
}

.am-explore-item-block.as-hidden {
    display: none;
}

.am-explore-item-block:active::after,
.am-explore-item-block:hover::after,
.am-explore-item-block:focus::after {
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 5px;
}

.am-explore-item-block:active::after {
    content: "";
    background-color: var(--as-transparent-button-active-color);
}

.am-explore-item-block:focus::after {
    content: "";
    border: 1px solid #a9a9a9;
    background-color: var(--as-transparent-button-hover-color);
}

.am-explore-item-block-icon {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: center;
    white-space: nowrap;
    color: var(--variant-color-secondary);
    padding: 0 5px;
    position: relative;
}

.am-explore-item-block *{
    pointer-events: none;
}

.am-explore-item-block-icon::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.am-explore-item-block-icon[data-count]::after {
    content: attr(data-count);
    position: absolute;
    right: calc(50% - 24px - 10px);
    top: -10px;
    height: 20px;
    min-width: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--variant-color-danger);
    color: white;
    line-height: 20px;
    font-size: 14px;
}

.am-explore-item-block-icon > span:first-child,
.am-explore-item-block-icon > .mdi {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    line-height: 1;
}

.am-explore-item-block-icon > svg,
.am-explore-item-block-icon > img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}


.am-explore-item-block-name {
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
}


.am-explore-section-break {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.am-explore-section-break-name {
    padding: 3px 5px 3px 5px;
    background-color: var(--variant-color-link);
    border-radius: 2px;
    color: white;

}

.am-explore-section-break-line {
    flex-grow: 1;
    position: relative;
}

.am-explore-section-break-line::after {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(50% - 1px);
    display: block;
    content: "";
    flex-grow: 1;
    border-top: 2px solid #dddddd;
    vertical-align: center;
}

.am-float-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.4s ease;
    background: #4610f5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 500;
    border: none;
}

.am-explore-group {
    padding: 5px 5px 10px 5px;
}

.am-explore-group.as-hidden {
    display: none;
}

/******************************/
.am-springboard-menu {
    --item-width: 150px;
    outline: none;
    font-family: Roboto, sans-serif;
}

.am-springboard-menu.am-style-simple {
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

.am-springboard-menu.am-style-simple .am-explore-group {
    background-color: white;
    border-radius: 5px;
    padding: 5px;

}


.am-springboard-menu.am-style-simple .am-explore-group:not(:last-child) {
    margin-bottom: 10px;
}

.am-springboard-menu.am-style-simple .am-explore-section-break-line {
    display: none;
}


.am-springboard-menu.am-style-simple .am-explore-section-break-name {
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 5px 15px;
}

.am-springboard-menu.am-style-simple .am-explore-item-block {
    padding: 5px 16px;
}


.am-springboard-menu.am-style-simple .am-explore-section-break {
    margin-bottom: 0;
}

.am-springboard-menu.as-style-desktop .am-explore-section-break-name {
    background-color: white;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 14px;
}

.am-springboard-menu.as-style-desktop .am-explore-item-block:hover .am-explore-item-block-icon {
    color: var(--as-transparent-button-text-hover-color);
}

.am-springboard-menu.as-style-desktop .am-explore-item-block:hover::after {
    content: "";
    background-color: var(--as-transparent-button-hover-color);
}

.am-springboard-menu.as-style-desktop .am-explore-item-block:active::after {
    content: "";
    background-color: var(--as-transparent-button-active-color);
}

.am-springboard-menu > .absol-search-text-input {
    margin: 10px;
    max-width: 400px;
    box-sizing: border-box;
}

.am-springboard-menu::before {
    content: "";
    display: block;
    height: 1px;
}

/*justify-content: space-between;*/


.am-springboard-menu.as-searching .am-explore-group:not(.as-search-result),
.am-springboard-menu:not(.as-searching) .am-explore-group.as-search-result {
    display: none;
}

.am-springboard-menu.as-mobile .am-explore-item-block{
    padding: 8px;
}

.am-springboard-menu.as-mobile .am-explore-group {
    padding: 5px 0 10px 0;
}

.am-springboard-menu.as-mobile .am-explore-item-block-icon > svg,
.am-springboard-menu.as-mobile .am-explore-item-block-icon > img {

}

.am-bottom-tabbar-item > img,
.am-bottom-tabbar-item > span
{
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.am-bottom-tabbar-item > img {
    width: 1em;
    height: 1em;
}



.am-bottom-tabbar-item {
    vertical-align: middle;
    height: 100%;
}

div.am-bottom-tabbar {
    height: var(---as-bottom-tabbar-height);
    box-shadow: 0 0 10px 1px rgb(39,35,97, 0.12);
}

.am-bottom-tabbar-content {
    height: 100%;
}

/*0px 0px 10px 1px rgb(39,35,97, 0.12)*/