.as-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    white-space: nowrap;
}

.as-modal.as-hidden{
    z-index: -1000;
    visibility: hidden;
    opacity: 0;
}

.as-modal.as-center {
    text-align: center;
}


.as-modal.as-middle::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.as-modal > .as-modal-content {
    display: inline-block;
    text-align: initial;
    white-space: initial;
}

/*for content*/
.as-modal.as-middle > .as-modal-content {
    vertical-align: middle;
}
