:root {
    --np-item-width: 370px;
}


.as-mobile-notification-virtual-dropdown {
    --np-item-width: auto;
}

.as-notification-panel {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}


.as-notification-panel > .as-np-dropdown-button:not(:last-child) {
    margin-right: 10px;
}


.as-np-dropdown-button {
    display: inline-block;
    vertical-align: middle;
}

.as-np-db-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(169, 169, 171, 0.2);
    border-radius: 50%;
    position: relative;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
}

.as-np-db-btn:hover {
    background-color: rgba(169, 169, 171, 0.4);
}

.as-np-db-icon-ctn, .as-np-db-count {
    display: inline-block;
    vertical-align: middle;
}

.as-np-dropdown-button.as-active > .as-np-db-btn,
.as-np-db-btn.as-active {
    background-color: rgba(169, 169, 220, 0.4);
}


.as-np-dropdown-button.as-active .as-np-db-icon-ctn,
.as-np-db-btn.as-active .as-np-db-icon-ctn {
    color: #0866ff;
}

.as-np-db-count:not([data-count]) {
    display: none;
}

.as-np-db-count {
    position: relative;
    overflow: visible;
}


.as-np-db-count::before {
    content: attr(data-count);
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    bottom: 5px;
    left: -5px;
    background-color: rgb(221, 35, 52);
    color: white;
    border-radius: 9px;
    text-align: center;
    min-width: 18px;
    height: 18px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}


.as-np-db-icon-ctn > span,
.as-np-db-icon-ctn > i,
.as-np-db-icon-ctn > svg {
    font-size: 20px;
    color: currentColor;
}


.as-np-db-dropdown {
    position: fixed;
    right: 20px;

    background-color: white;
    visibility: hidden;
    opacity: 0;
    --max-height: calc(90vh - 160px);
    max-height: var(--max-height);
    z-index: -1000;
    text-align: left;
}

.as-np-db-dropdown::before {
    content: "";
    display: block;
    height: 0;
}


.as-np-db-dropdown:empty {
    display: none;
}

.as-np-db-dropdown-quick-menu-ctn {
    position: absolute;
    z-index: 9;
    left: calc(var(--np-item-width) - 30px);
    top: 2px;
}

.as-np-db-quick-menu-btn {
    width: 30px;
    height: 30px;
}

.as-np-db-quick-menu-btn:hover {
    background-color: var(--icon-background-cover-hover);
}

.as-np-dropdown-button.as-active .as-np-db-dropdown {
    z-index: 10;
    visibility: visible;
    opacity: 1;
}

.as-np-db-dropdown-body > h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    color: rgb(169, 169, 170);
    line-height: 34px;

}

.as-np-db-dropdown-body > h4 {
    font-size: 14px;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    color: rgb(69, 69, 70);
}


.as-np-section-header {
    padding: 5px 20px;
    display: flex;
}

.as-np-section-name {
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    line-height: 20px;
}

.as-np-section-name::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    content: attr(data-name);
}

.as-np-section-action {
    cursor: pointer;
    color: var(--variant-color-link);
    padding: 0 5px;
    line-height: 20px;
}

.as-np-section-action:hover {
    background-color: var(--as-transparent-button-hover-color);
}

.as-np-section-action:not([data-text]) {
    display: none;
}

.as-np-section-action::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    content: attr(data-text);
}


.as-np-list {
    overflow-y: auto;
    max-height: calc(var(--max-height) - 100px);
}

.as-np-db-dropdown.as-has-quick-menu > .as-np-db-dropdown-body > .as-np-list:first-child {
    margin-top: 30px;
}

.as-np-list-more-ctn {
    padding: 10px 0;
    text-align: center;
}

.as-np-list-more-btn {
    width: calc(100% - 20px);
    height: 30px;
}

.as-np-item {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    width: var(--np-item-width);
}

.am-mobile-theme .as-np-item{
    width: auto;
}


.as-np-item-body {
    padding-right: 26px;
    min-height: 52px;
    box-sizing: border-box;
}

.as-np-item-body[data-time-text]::after {
    display: block;
    font-size: 12px;
    color: #1da1ff;
    padding-left: 10px;
}


.as-np-item-body:hover {
    background-color: var(--as-transparent-button-hover-color);
}


.as-np-item-unread-btn::after {
    content: "";
    background-color: rgb(107, 176, 255);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.as-np-item-unread-btn {
    position: absolute;
    right: 0;
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
    padding: 0;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.as-np-item-pin-btn {
    position: absolute;
    right: 0px;
    top: 0;
    width: 26px;
    height: 26px;
    padding: 0;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.as-np-item-pin-btn > span {
    color: #aaaaaa;
    font-size: 20px;
    display: inline-block;
}

.as-np-item-pin-btn:hover > span {
    color: #dddddd;
}


.as-np-item.as-pin .as-np-item-unread-btn {
    top: calc(50% - 7px);
}


.as-np-item:not(.as-unread) .as-np-item-unread-btn,
.as-np-item:not(.as-pin) .as-np-item-pin-btn {
    display: none;
}


.as-np-item-quick-menu-ctn {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: calc(50% - 15px);
    visibility: hidden;

}

.as-np-item:hover .as-np-item-quick-menu-ctn {
    visibility: visible;
}

.as-np-item-quick-menu-btn {
    background-color: rgb(230, 230, 230);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.as-np-item-quick-menu-btn:active {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}


.as-mb-vd-header-bar .as-header-bar-notification-action {
    display: none;
}


.as-mobile-notification-virtual-dropdown {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 1005;
}


.as-mobile-notification-virtual-dropdown.as-hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
}

.as-mb-vd-body {
    height: calc(100% - 3em);
    overflow: auto;
}

.as-mb-vd-body .as-np-item-body {
    padding-right: 56px;
}

.as-mb-vd-body .as-np-item-quick-menu-ctn {
    visibility: visible;
}

.as-mb-vd-body .as-np-item-quick-menu-btn {
    background-color: transparent;
    box-shadow: none !important;
}

.as-mb-vd-body .as-np-item-quick-menu-btn:active {
    background-color: var(--as-transparent-button-active-color);
}

.as-chat-gpt-dropdown {
    font-size: 14px;
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: 600000;
    width: 500px;
    max-width: 50vw;
    position: fixed;
    background-color: red;
    display: grid;
    grid-template-rows: 1fr auto auto;
    align-content: stretch;
    height: unset;
    max-height: unset;
    opacity: 1;
    visibility: visible;
}

.as-chat-gpt-input-ctn {
    position: relative;
    padding: var(--distance-2) calc(var(--distance-2) * 2 + 30px) var(--distance-2) var(--distance-2);
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);

}

.as-chat-gpt-pending {
    font-size: 13px;
    color: var(--grey-color);
    height: 1px;
    position: relative;
    overflow: visible;
}

.as-chat-gpt-pending > div {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: var(--distance-2);
    background-color: rgba(255, 255, 255, 0.5);
}

.as-chat-gpt-pending span {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
}

.as-chat-gpt-dropdown.as-loading .as-chat-gpt-pending > div {
    display: block;
}

.as-chat-gpt-dropdown.as-loading .as-chat-gpt-send-btn{
    opacity: 0.5;
}

.as-chat-gpt-pending svg {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.as-chat-gpt-input-ctn > textarea {
    background-color: rgb(241, 241, 244);
    border-radius: 1.8em;
    border: none;
    width: 100%;
    max-height: 300px;
}

.as-chat-gpt-send-btn {
    position: absolute;
    right: var(--distance-2);
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
}

button.as-chat-gpt-send-btn:hover {
    color: var(--primary-color)
}

.as-chat-gpt-content-ctn {
    overflow-y: auto;
    padding-right: var(--distance-2);
    box-sizing: border-box;
}


.as-chat-gpt-message-content {
    line-height: 1.5;
    white-space: pre-wrap;
    text-align: left;
}

.as-chat-gpt-message-wrapper {
    padding: var(--distance-2);
}

.as-chat-gpt-message-wrapper[data-role="user"] {
    text-align: right;
}

.as-chat-gpt-message-wrapper[data-role="user"] .as-chat-gpt-message-content{
    background-color: var(--primary-color);
    color: white;
    border-radius: 1em;
    padding: var(--distance-1) var(--distance-3) ;
    display: inline-block;
    max-width: 80%;

}