.as-omt {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

.as-omt-node {

}


.as-omt-field {
    --level: 0;
    position: relative;
    padding-bottom: 10px;
}


.as-omt-field.as-hover::before {
    border-color: rgb(30, 101, 234);
    border-width: 2px;
}

.as-omt-field::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    right: 0;
    bottom: 0;
    border: 1px solid rgb(170, 170, 200);
    z-index: 0;
    pointer-events: none;
}

.as-omt-field-header {
    padding-left: 10px;
    line-height: 2;
}


.as-omt-field-body {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1em;
}


.as-omt-field-raw-ctn,
.as-omt-field.as-mode-raw > .as-omt-field-body {
    display: none;
}

.as-omt-field.as-mode-raw > .as-omt-field-raw-ctn {
    display: block;
}


.as-omt-field-command-ctn {
    position: absolute;
    z-index: 20;
    right: 10px;
    top: 20px;
    background-color: white;
    height: 30px;
    display: none;
}

.bsc-white .as-omt-field-command-ctn button[data-command="view_mode"] {
    display: none;
}


.as-omt-field.as-hover > .as-omt-field-command-ctn {
    display: block;
}

.as-omt-field-command-ctn > button {
    height: 30px;
}

.as-omt-field-command-ctn > button:not(:first-child) {
    margin-left: 5px;
}

.as-omt-field-command-ctn > button span {
    font-size: 24px;
}

.as-omt-field-name {
    font-weight: bold;
    background-color: white;
    display: inline-block;
    z-index: 3;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}


.as-omt-field-body > .as-omt-field:first-child {
    margin-top: 10px;
}

.as-omt-field code {
    white-space: pre-wrap;
}

.as-omt-field-raw-ctn {
    padding-left: 10px;
    padding-right: 10px;
}

.as-omt-field.as-type-struct > .as-omt-field-body {
    padding-left: 20px;
}

img.as-omt-field-value {
    max-width: calc(100vw - 5em);
    max-height: 10em;
}

.as-omt-dialog .as-message-dialog-body {
    max-height: calc(90vh - 5em);
    max-width: calc(90vw - 5em);
    overflow: auto;
}

.as-omt-option-row {
    display: flex;
    align-items: center;
}

.as-omt-option-row:not(:first-child) {
    margin-top: 5px;
}

.as-omt-field-raw-ctn > div > .as-omt-field-name {
    display: none;
}

.as-omt-option-row > .as-omt-field {
    flex-grow: 1;
}


.as-omt-field-color-value-bg {
    height: 2em;
    width: 5em;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAaSURBVBhXYzh8+PD///8hJAOcBSRxyRw+DABJUCox2kjvSgAAAABJRU5ErkJggg==');
    background-size: 1.5em;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    --omt-color-value: transparent;
}

.as-omt-field-color-value {
    width: 100%;
    height: 100%;
    background-color: var(--omt-color-value);
}
