.absol-radio {
    display: inline;
    cursor: pointer;
    white-space: nowrap;
}

.absol-radio input {
    display: none;
}

.absol-radio > span {
    white-space: pre;
    cursor: inherit;
    vertical-align: middle;
    margin: 0;
    font-size: inherit;
}

.absol-radio > span:empty {
    display: none;
}

.absol-radio > svg {
    display: inline-block;
    vertical-align: middle;
    width: calc(1em + 4px);
    height: calc(1em + 4px);
}

.absol-radio > svg .bound {
    stroke: #929292;
    fill: white;
}

.absol-radio:hover > svg .bound {
    fill: #d6d6d6;
    stroke: black;
}

/* 
.absol-radio>svg .bound {
    fill: none;
} */

.absol-radio-icon .border {
}

.absol-radio .dot {
    transition: opacity 0.07s;
    opacity: 0;
    fill: #606060;
}

.absol-radio:hover .dot {
    transition: opacity 0.07s;
    opacity: 0;
    fill: black;
}

.absol-radio.checked .dot {
    opacity: 1;
    transition: opacity 0.1s;
}

.absol-radio:not(.right) > span.absol-radio-left-label {
    display: none;
}

.absol-radio.right > span.absol-radio-right-label {
    display: none;
}

span.absol-radio-left-label {
    padding-right: 0.3em;
}

span.absol-radio-right-label {
    padding-left: 0.3em;
}




.absol-radio.disabled {
    cursor: default;
}

.absol-radio.disabled:hover .dot,
.absol-radio.disabled .dot {
    fill: #929292;
}

.absol-radio.disabled .bound,
.absol-radio.disabled:hover .bound {
    stroke: #929292;
    fill: #ebebe4;
}


.absol-radio .standar-alone {
    display: inline-block;
}

input:checked ~ .absol-radio-icon .dot {
    opacity: 1;
}