.as-ribbon-split-button {
    display: inline-block;
    vertical-align: middle;
    height: calc(2em + 2px);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

.as-ribbon-split-button div,
.as-ribbon-split-button span,
.as-ribbon-split-button button {
    font-weight: inherit;
    font-size: inherit;
}


.as-ribbon-split-button-content {
    height: 100%;
}

.as-ribbon-split-button-content > button {
    font-family: inherit;
    border-radius: 0;
    background-color: transparent;
    height: 100%;
    margin-right: 0;
    outline: none;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    vertical-align: middle;
}


.as-ribbon-split-button-content > button:hover {
    background-color: rgba(169, 168, 169, 0.15);
}

.as-ribbon-split-button-content > button:active {
    background-color: rgba(169, 168, 169, 0.3);
}


.as-ribbon-split-button-primary {
    font-size: inherit;
    padding-left: 0.5em;
    padding-right: 0.2em;
    border-width: 1px 0px 1px 1px;
    color: inherit;
}

.as-ribbon-split-button-extend {
    color: rgb(37, 36, 35);
    width: calc(1em + 2px);
    padding: 0;
    text-align: center;
    font-size: 20px;
    border-width: 1px 1px 1px 0px;
}

.as-ribbon-split-button-extend span:before {
    margin-left: -3px;
}


.as-ribbon-split-button:active:hover .as-ribbon-split-button-content > button,
.as-ribbon-split-button:active .as-ribbon-split-button-content > button {
    border-color: rgba(169, 168, 169, 0.3);
}

.as-ribbon-split-button:hover .as-ribbon-split-button-content > button {
    border-color: rgba(169, 168, 169, 0.15);
}

.as-ribbon-split-button-icon {
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

span.as-ribbon-split-button-icon {
    font-size: 1.2em;
}

img.as-ribbon-split-button-icon,
svg.as-ribbon-split-button-icon {
    width: 1.2em;
    height: 1.2em;
}

.as-ribbon-split-button-text {
    vertical-align: middle;
    font-size: inherit;
}

.as-ribbon-split-button-text::before {
    content: attr(data-text);
}

.as-ribbon-split-button-extend .as-ribbon-split-button-text {
    display: none;
}

.as-ribbon-split-button.as-no-dropdown .as-ribbon-split-button-extend {
    display: none;
}

.as-ribbon-split-button.as-no-dropdown .as-ribbon-split-button-primary {
    padding-right: 5px;
    border-width: 1px 1px 1px 1px;
}

.as-ribbon-split-button.as-big {
    width: 5em;
    height: auto;
}

.as-ribbon-split-button.as-big .as-ribbon-split-button-content {
    height: auto;
}

.as-ribbon-split-button.as-big span.as-ribbon-split-button-icon {
    font-size: 2em;
    display: block;
    margin: 0;
}

.as-ribbon-split-button.as-big .as-ribbon-split-button-extend .as-ribbon-split-button-text {
    display: inline-block;
    white-space: normal;
    max-width: calc(100% - 1em);
}

.as-ribbon-split-button.as-big .as-ribbon-split-button-primary .as-ribbon-split-button-text {
    display: none;
}

.as-ribbon-split-button.as-big .as-ribbon-split-button-extend {
    white-space: nowrap;
    width: 100%;
    height: auto;
    border-width: 0 1px 1px 1px;

}

.as-ribbon-split-button.as-big .as-ribbon-split-button-primary {
    width: 100%;
    height: 2.5em;
    box-sizing: border-box;
    border-width: 1px 1px 0 1px;
}

.as-ribbon-split-button.as-big img.as-ribbon-split-button-icon,
.as-ribbon-split-button.as-big svg.as-ribbon-split-button-icon {
    width: 2em;
    height: 2em;
}