.absol-vscroller {
    position: relative;
    overflow-x: hidden;
}


.absol-vscroller.disabled > .absol-vscroller-viewport {
    overflow-y: visible;
    margin-right: 0px;
    min-width: 100%;
}

.absol-vscroller.disabled {
    overflow: visible;
    overflow-x: visible;

}


.absol-vscroller-viewport {
    overflow-y: scroll;
    box-sizing: content-box;

}

.absol-vscroller > .absol-vscroller-viewport {
    max-height: 100%;
}

.absol-vscroller.limited-height > .absol-vscroller-viewport {
    max-height: inherit;
}


/************  hscroller  ***********/
.absol-hscroller {
    position: relative;
    overflow-y: hidden;
}

.absol-hscroller.disabled {
    overflow: visible;
    overflow-y: visible;
}

.absol-hscroller-viewport {
    overflow-x: scroll;
    box-sizing: content-box;
    min-height: calc(100% + 17px);
}

.absol-hscroller.disabled > .absol-hscroller-viewport {
    overflow-x: visible;
    margin-bottom: 0px;
}


.absol-hscroller > .absol-hscroller-viewport {
    max-width: 100%;
}


/********** scroll bar *********************/
.absol-scrollbar-force-modal {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1000000;
}

.absol-scrollbar-container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.absol-scrollbar-container.vertical {
    top: 0;
    width: 7px;
}

.absol-scrollbar-container.horizontal {
    height: 7px;
    left: 0;
}

.absol-scrollbar-container > .absol-scrollbar {
    width: 100%;
    height: 100%;
}


.absol-scrollbar-container.vertical > .absol-scrollbar > .absol-scrollbar-button {
    left: 1px;
    right: 1px;
    top: 0;
}

.absol-scrollbar-container.horizontal > .absol-scrollbar > .absol-scrollbar-button {
    top: 1px;
    bottom: 1px;
    left: 0;
}

.absol-scrollbar {
    position: relative;
    background-color: rgba(180, 180, 182, 0.1);
}

.absol-scrollbar-button {
    position: absolute;
    background-color: rgba(133, 133, 133, 0.5);
    border-radius: 2px;
}

.absol-scrollbar-button:hover, .absol-scrollbar-button:active {
    background-color: rgba(133, 133, 133, 1);;
}


.absol-scrollbar.absol-hidden {
    visibility: hidden;
}

.absol-vscrollbar .absol-scrollbar-button {
    width: 100%;
}


.absol-hscrollbar .absol-scrollbar-button {
    height: 100%;
}

.absol-table-scroller-vscrollbar-container .absol-vscrollbar:not(.as-overflow) {
    visibility: hidden;
    pointer-events: none;
}

.absol-table-scroller-left-vscroller-viewport:empty {
    display: none;
}