.absol-search-text-input {
    position: relative;
    height: 2em;
    border-radius: 0.3em;
    border: solid 1px #a9a9a9;
    font-size: 14px;
}

.absol-search-text-input.focus {
    outline: solid 1px rgba(30, 30, 255, 0.4);
}

.absol-search-text-input-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 2em;
}

.absol-search-text-button-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    bottom: 0em;
}

.absol-search-text-button-container button {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 1em;
}

.absol-search-text-button-container button>svg {
    height: 1.14285714286em;
    width: 1.14285714286em;
    fill: rgb(132, 132, 132);
}

.absol-search-text-input-container input {
    width: 100%;
    height: 100%;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 0.6em;
}

.absol-search-text-input:not(.searching) svg.times{
    display: none;
}

.absol-search-text-input.searching svg.find{
    display: none;
}

.absol-search-text-input-container input::-webkit-search-cancel-button{
    display: none;
}