.absol-selectmenu-anchor-container {
    /* position: fixed; */

    /* top: 0; */
    /* left: 0; */
    width: 0;
    height: 0;
    overflow: visible;
}

.absol-selectmenu-anchor {
    position: relative;
}

.absol-selectmenu-anchor-content-container {
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
}

.absol-selectmenu-anchor-content-container .absol-bscroller {
    max-height: calc(100vh - 50px);
}


.absol-selectmenu-anchor.absol-disabled .absol-selectmenu-anchor-content-container {
    visibility: hidden;
    top: -100000px;
    left: -10000px;
    z-index: -1000;
    opacity: 0;
}


.absol-selectmenu-dropdown-box {
    border: solid 1px rgb(100, 100, 255);
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
}

.absol-selectmenu-dropdown-box > .as-bscroller {
    overflow-y: auto;
}

.absol-selectmenu-dropdown-box .absol-search-text-input {
    margin: 0.2em;
}


.absol-selectmenu.absol-hidden {
    display: none !important;
}

.absol-selectmenu-render-space {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    visibility: hidden;
    font-size: 14px;
}

.absol-selectmenu-render-space > div {
    display: inline-block;
}


.absol-selectmenu.as-disabled,
.as-select-menu.as-disabled {
    pointer-events: none;
    background-color: var(--as-disabled-background-color);
    color: var(--as-disabled-text-color);
}

.absol-selectmenu {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: calc(2em + 2px);
    min-width: calc(2em + 2px);
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    font-family: Roboto, sans-serif;
    background-color: white;
    overflow: hidden;
    user-select: none;
}

.absol-selectmenu[data-size="large"] {
    height: var(--large-size);
    border-radius: var(--large-radius);
}

.absol-selectmenu[data-size="regular"] {
    height: var(--default-size);
    border-radius: var(--default-radius);
}

.absol-selectmenu[data-size="small"] {
    height: var(--small-size);
    border-radius: var(--small-radius);
}

.absol-selectmenu[data-size="tiny"] {
    font-size: var(--tiny-font-size);
    border-radius: var(--tiny-radius);
    height: var(--tiny-size);
}


.absol-selectmenu:not[data-size="v0"] {
    border-color: var(--border-color);
}

.absol-selectmenu[data-variant="secondary"] {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.absol-selectmenu[data-variant="secondary"] path {
    fill: var(--primary-color);
}

.absol-selectmenu[data-variant="secondary"] .absol-selectlist-item-desc {
    color: var(--primary-color);
    opacity: 0.5;
}

.absol-selectmenu[data-variant="secondary"]:hover {
    background-color: var(--hover-secondary-color);
    color: var(--hover-primary-color);
    border-color: var(--hover-primary-color);
}


.absol-selectmenu[data-variant="secondary"]:not(.as-read-only):active,
.absol-selectmenu[data-variant="secondary"].as-focus {
    background-color: var(--active-secondary-color);
    color: var(--active-primary-color);
    border-color: var(--active-primary-color);
}

.absol-selectmenu.as-border-none {
    border: none;
}

.absol-selectmenu.as-border-none .absol-selectlist-item span {
    padding-left: 0;
    user-select: inherit;
    -ms-user-select: inherit;
    -webkit-user-select: inherit;
}

.absol-selectmenu:not(.as-read-only) {
    cursor: pointer;
}

.absol-selectmenu.as-read-only .absol-selectlist-item span {
    user-select: inherit;
    -moz-user-select: inherit;
    -webkit-user-select: inherit;
    -ms-user-select: inherit;
}


.absol-selectmenu-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    border: none;
    background: transparent;
    z-index: 2;
    pointer-events: none;
}

.absol-selectmenu-btn:focus {
    outline: none;
}

.absol-selectmenu-btn svg.dropdown {
    width: 10px;
    height: 10px;
    fill: #929292;
}

.absol-selectmenu.as-read-only svg.dropdown {
    display: none;
}

.absol-selectmenu:not(.as-read-only):hover svg.dropdown {
    width: 10px;
    height: 10px;
    fill: black;
}

.absol-selectmenu .absol-selectlist-item-text {
    display: inline-block;
    overflow: hidden;
    max-width: calc(var(--as-combobox-width-limit) - 30px);
    text-overflow: ellipsis;
    vertical-align: middle;

}


.absol-selectmenu-holder-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*1px for border*/
    white-space: nowrap;
}

.absol-selectmenu-holder-item::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.absol-selectmenu-holder-item > .absol-selectlist-item {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.absol-selectmenu-holder-item .absol-selectlist-item .absol-selectlist-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 0;
}

.absol-selectmenu-holder-item .absol-selectlist-item.as-has-icon .absol-selectlist-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px - 26px);
}


.absol-selectmenu-holder-item .absol-selectlist-item {
    padding-left: 0;/*disable level*/
}

.absol-selectmenu .absol-selectlist-item-text {
    padding-right: 28px;
}

.absol-selectmenu .absol-scroll-button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.absol-selectmenu .absol-scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.absol-scroll-bar-v-container {
    width: 10px;
}

.absol-selectmenu .absol-search-text-input {
    margin: 4px;
}

.absol-selectmenu-render-space .absol-selectlist-item span {
    padding-right: 0;
}


.absol-selectmenu .absol-selectlist-item-desc-container {
    right: 30px;
}


.absol-selectmenu-dropdown-box .absol-bscroller {
    overflow-y: auto;
}


.as-select-anchor {
    position: fixed;
    z-index: 1000001;
}


.as-select-anchor.as-hidden {
    left: 0;
    top: 0;
    z-index: -1000;
    visibility: hidden;
    opacity: 0;
}


.as-select-menu {
    --select-list-estimate-width: 0px;
    --select-list-desc-width: 0px;
    width: calc(var(--select-list-estimate-width) + 34px);
    min-width: calc(var(--select-list-estimate-width) + 34px);
    max-width: var(--as-combobox-width-limit);
}

.as-select-menu.as-background-none,
.absol-selectmenu.as-background-none
{
    background-color: transparent;
}

/***********************************************************************************************************************/

.am-selectmenu-modal {
    z-index: 100005;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
}

.am-selectmenu-modal>div{
    display: inline-block;
    text-align: initial;
}

.am-selectmenu-popup-box {
    max-width: calc(100vw - 60px);
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    background-color: #ffffff;
    border-radius: 0.5em;
    font-family: Roboto, sans-serif;
}

.am-selectmenu-popup-box-header{
    height: calc(2em + 10px);
    display: block;
    white-space: nowrap;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: solid 1px #dddddd;
    background-color: rgba(169, 169, 169,0.2);
}

.am-selectmenu-popup-box-header .absol-search-text-input{
    display: inline-block;
    width: calc(100% - 2em - 25px);
    vertical-align: middle;
    box-sizing: border-box;
    background-color: white;
}

.am-selectmenu-popup-box-close-btn{
    display: inline-block;
    vertical-align: middle;
    border-radius:50%;
    padding: 0;
    height: 2em;
    width: 2em;
    font-size: inherit;
    border: none;
    outline: none;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(190, 30, 30);
}

.am-selectmenu-popup-box-close-btn:active{
    color: red;
}


.am-selectmenu-popup-box-close-btn:before{
    content: "";
    display: inline-block;
    height: 2em;
    vertical-align: middle;
}

.am-selectmenu-popup-box-close-btn span{
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.am-selectmenu-scroller {
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    box-sizing: border-box;
}

.am-selectlist.am-selectmeu-list{
    min-width: 30vw;
}

.am-selectlist.am-selectmeu-list.as-searching{
    width: 100%;
}

.am-selectmenu-popup-box .absol-search-text-input{
    display: none;
}


.am-selectmenu-popup-box.am-enable-search .absol-search-text-input{
    display: inline-block;
    vertical-align: middle;
}

.am-selectmenu{
    white-space: nowrap;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    padding-right: 35px;
    max-width: 95vw;
    width: var(--recommend-width);
}

.am-selectmenu.disabled .absol-selectmenu-btn{
    background-color: #ebebe4;
}

.am-selectmenu .absol-selectmenu-btn{
}

.am-selectmenu::before{
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}


.am-selectmenu-holder-item{
    display: inline-table;
    vertical-align: middle;
    width: 100%;
    table-layout: auto;
}

.am-selectmenu-holder-item>.am-selectlist-item{
    display: table-row;
}

.am-selectmenu-holder-item .am-selectlist-item-text-ctn,
.am-selectmenu-holder-item .am-selectlist-item-desc-ctn{
    display: table-cell;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}


.am-selectmenu.disabled {
    pointer-events: none;
    background-color: #ebebe4;
}


.as-select-tree-leaf-menu[data-size="large"] {
    height: var(--large-size);
    border-radius: var(--large-radius);
}

/*.as-select-tree-leaf-menu[data-size="large"] {*/
/*    */
/*}*/