.absol-selectlist {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.absol-selectlist * {
    box-sizing: border-box;
}

.absol-selectlist .absol-selectlist-item:hover {
    background-color: #efefef;
}

.absol-selectlist .absol-selectlist-item {
    height: calc(20rem / 14);
    font-size: 1rem;
    cursor: pointer;
}

.absol-selectlist-item.as-selected {
    background-color: #dfdfdf;
}


.absol-selectlist-item.as-disabled,
.absol-selectlist-item.as-disabled * {
    color: var(--as-disabled-text-color);
    pointer-events: none;
}

.absol-selectlist:not(.as-searching) > .absol-selectlist-item.as-last-in-group,
.as-select-list-box:not(.as-searching) .as-last-in-group {
    position: relative;
    overflow: visible;
}


.as-select-list-box:not(.as-searching) .as-last-in-group::after,
.absol-selectlist:not(.as-searching) > .absol-selectlist-item.as-last-in-group:not(:last-child)::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    left: 0.2em;
    right: 0.2em;
    bottom: -0.5px;
}

.absol-selectlist-item-text {
    line-height: inherit;
    white-space: pre;
    padding-left: var(--as-input-horizontal-padding);
    padding-right: var(--as-input-horizontal-padding);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absol-selectlist-item {
    height: 20px;
    line-height: 20px;
    --level: 0;
    padding-left: calc(0.9em * var(--level));
}


.absol-selectlist-item {
    position: relative;
    box-sizing: border-box;
}

.absol-selectlist-item-desc-container {
    position: absolute;
    right: 0.3em;
    top: 0;
    bottom: 0;
}

.absol-selectlist-item-desc {
    font-style: italic;
    line-height: 20px;
    white-space: nowrap;
    color: rgb(37, 37, 37);
}

.absol-selectlist-item-desc:empty {
    display: none;
}

.absol-selectlist-item {
    padding-right: calc(0.35em + var(--select-list-desc-width));
}

.absol-selectlist-item-desc-container {
    width: var(--select-list-desc-width);
}


.as-select-list-icon {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    padding-left: var(--as-input-horizontal-padding);
}
