.absol-selectmenu-anchor-container {
    /* position: fixed; */

    /* top: 0; */
    /* left: 0; */
    width: 0;
    height: 0;
    overflow: visible;
}

.absol-selectmenu-anchor {
    position: relative;
}

.absol-selectmenu-anchor-content-container {
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
}

.absol-selectmenu-anchor-content-container .absol-bscroller {
    max-height: calc(100vh - 50px);
}


.absol-selectmenu-anchor.absol-disabled .absol-selectmenu-anchor-content-container {
    visibility: hidden;
    top: -100000px;
    left: -10000px;
    z-index: -1000;
    opacity: 0;
}


.absol-selectmenu-dropdown-box {
    border: solid 1px rgb(100, 100, 255);
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 90, 0.55);
}

.absol-selectmenu-dropdown-box > .as-bscroller {
    overflow-y: auto;
}

.absol-selectmenu-dropdown-box .absol-search-text-input {
    margin: 0.2em;
}


.absol-selectmenu.absol-hidden {
    display: none !important;
}

.absol-selectmenu-render-space {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    visibility: hidden;
    font-size: 14px;
}

.absol-selectmenu-render-space > div {
    display: inline-block;
}


.absol-selectmenu.as-disabled,
.as-select-menu.as-disabled {
    pointer-events: none;
    background-color: var(--as-disabled-background-color);
    color: var(--as-disabled-text-color);
}

.absol-selectmenu {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: calc(2em + 2px);
    min-width: calc(2em + 2px);
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: white;
}

.absol-selectmenu.as-border-none {
    border: none;
}

.absol-selectmenu.as-border-none .absol-selectlist-item span {
    padding-left: 0;
    user-select: inherit;
    -ms-user-select: inherit;
    -webkit-user-select: inherit;
}

.absol-selectmenu:not(.as-read-only) {
    cursor: pointer;
}

.absol-selectmenu.as-read-only .absol-selectlist-item span {
    user-select: inherit;
    -moz-user-select: inherit;
    -webkit-user-select: inherit;
    -ms-user-select: inherit;
}


.absol-selectmenu-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    border: none;
    background: transparent;
    z-index: 2;
    pointer-events: none;
}

.absol-selectmenu-btn:focus {
    outline: none;
}

.absol-selectmenu-btn svg.dropdown {
    width: 10px;
    height: 10px;
    fill: #929292;
}

.absol-selectmenu.as-read-only svg.dropdown {
    display: none;
}

.absol-selectmenu:not(.as-read-only):hover svg.dropdown {
    width: 10px;
    height: 10px;
    fill: black;
}

.absol-selectmenu-holder-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*1px for border*/
    white-space: nowrap;
}

.absol-selectmenu-holder-item::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.absol-selectmenu-holder-item > .absol-selectlist-item {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.absol-selectmenu .absol-selectlist-item-text {
    padding-right: 28px;
}

.absol-selectmenu .absol-scroll-button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.absol-selectmenu .absol-scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.absol-scroll-bar-v-container {
    width: 10px;
}

.absol-selectmenu .absol-search-text-input {
    margin: 4px;
}

.absol-selectmenu-render-space .absol-selectlist-item span {
    padding-right: 0;
}


.absol-selectmenu .absol-selectlist-item-desc-container {
    right: 30px;
}


.absol-selectmenu-dropdown-box .absol-bscroller {
    overflow-y: auto;
}


.as-select-anchor {
    position: fixed;
    z-index: 1000001;
}


.as-select-anchor.as-hidden {
    left: 0;
    top: 0;
    z-index: -1000;
    visibility: hidden;
    opacity: 0;
}


.as-select-menu {
    --select-list-estimate-width: 0px;
    --select-list-desc-width: 0px;
    width: calc(var(--select-list-estimate-width) + 32px);
    min-width: calc(var(--select-list-estimate-width) + 32px);
}

/***********************************************************************************************************************/

.as-select-menu {

}