.absol-selectmenu-anchor-container {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
}

.absol-selectmenu-anchor {
    position: relative;
}

.absol-selectmenu-anchor-content-container {
    position: absolute;
}

.absol-selectmenu-anchor-content-container .absol-bscroller {
    max-height: calc(100vh - 50px);
}


.absol-selectmenu-anchor.absol-disabled .absol-selectmenu-anchor-content-container {
    visibility: hidden;
    top: -100000px;
    left: -10000px;
    z-index: -1000;
    opacity: 0;
}


.absol-selectmenu-dropdown-box {
    border: solid 1px rgb(169, 169, 169);
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
}

.absol-selectmenu-dropdown-box .absol-search-text-input {
    margin: 0.2em;
}



.absol-selectmenu.absol-hidden {
    display: none !important;
}

.absol-selectmenu-render-space {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    visibility: hidden;
    font-size: 14px;
}

.absol-selectmenu-render-space>div {
    display: inline-block;

}



.absol-selectmenu.disabled {
    pointer-events: none;
}



.absol-selectmenu.disabled {
    background-color: #ebebe4;
}


.absol-selectmenu {
    display: inline-block;
    position: relative;
    height: 30px;
    min-width: 30px;
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
}

/* .absol-selectmenu:hover {
    border: solid 1px black;
} */

.absol-selectmenu-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    border: none;
    background: transparent;
    z-index: 2;
    pointer-events: none;
}

.absol-selectmenu-btn:focus {
    outline: none;
}

.absol-selectmenu-btn svg.dropdown {
    width: 10px;
    height: 10px;
    fill: #929292;
}

.absol-selectmenu:hover svg.dropdown {
    width: 10px;
    height: 10px;
    fill: black;
}

.absol-selectmenu-holder-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    bottom: 4px;
    /*1px for border*/
}





.absol-selectmenu .absol-selectlist-item span {
    padding-right: 28px;
}

.absol-selectmenu .absol-scroll-button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.absol-selectmenu .absol-scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.absol-scroll-bar-v-container {
    width: 10px;
}

.absol-selectmenu .absol-search-text-input {
    margin: 4px;
}

.absol-selectmenu-render-space .absol-selectlist-item span {
    padding-right: 0;
}



.absol-selectmenu .absol-selectlist-item-desc-container {
    right: 40px;
}