.absol-table-scroller .absol-table-scroller-viewport {
    width: calc(100% + var(--scrollbar-width));
    height: calc(100% +  var(--scrollbar-width));
}
.absol-table-scroller .absol-table-scroller-header-hscroller-viewport {
    margin-bottom: calc(0px - var(--scrollbar-width))
}


.absol-table-scroller {
    --scrollbar-width: 17px;
    --new-pos-y: 0;
    position: relative;
    padding-right: 17px;
    padding-bottom: 17px;
}

.absol-table-scroller-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.absol-table-scroller-render-space {
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    max-width: calc(99vw - 30px);
    max-height: calc(99vh - 30px);
    opacity: 0;
    z-index: -1000;
    visibility: hidden;
}


.absol-table-scroller-viewport {
    box-sizing: border-box;
    overflow: scroll;
    width: calc(100% + 17px);
    height: calc(100% + 17px);
    background-color: white;
}

.absol-table-scroller-fixed-viewport {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background-color: white;
    /*pointer-events: none;*/
}

.absol-table-scroller-fixed-viewport > table > thead,
.absol-table-scroller-fixed-viewport > table {
    /*border-top-color: transparent !important;*/
}

.absol-table-scroller-fixed-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    border-color: transparent !important;

}

.absol-table-scroller-header-hscroller {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
    /*pointer-events: none;*/
}

.absol-table-scroller-header-hscroller-viewport {
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: -17px; /*default*/
    background-color: white;
}

.absol-table-scroller-header-hscroller-viewport table {
    table-layout: fixed;
}


.absol-table-scroller-left-vscroller {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
    /* width: 200px; */
    overflow-x: hidden;
    /*pointer-events: none;*/
}

.absol-table-scroller-left-vscroller-viewport {
    max-height: 100%;
    overflow-y: scroll;
    min-width: calc(100% + 19px);
    overflow-x: hidden;
    background-color: white;
}


.absol-table-scroller-head-line,
.absol-table-scroller-left-line {
    z-index: 30;
    /*pointer-events: none;*/
    position: absolute;
}

.absol-table-scroller-head-line {
    left: 0;
    width: calc(100% - 6px);
    border-bottom: solid 2px rgb(169, 169, 170);
    width: 100%;
}

.absol-table-scroller-left-line {
    top: 0;
    border-right: solid 2px rgb(169, 169, 170);
    height: calc(100% - 6px);
    height: 100%;
}


.absol-table-scroller.scroll-v .absol-table-scroller-head-line {
    width: 100%;
}

.absol-table-scroller.scroll-h .absol-table-scroller-left-line {
    height: 100%;
}


.absol-table-scroller:not(.scroll-v) .absol-table-scroller-head-line {
    display: none;
}

.absol-table-scroller:not(.scroll-h) .absol-table-scroller-left-line {
    display: none;
}

.absol-table-scroller:not(.scroll-v){
    padding-right: 0;
}


.absol-table-scroller:not(.scroll-h){
    padding-bottom: 0;
}


.absol-table-scroller-vscrollbar-container {
    position: absolute;
    top: 0;
    right: 0px;
    width: 17px;
    bottom: 0;
    z-index: 31;
}

.absol-table-scroller-vscrollbar-container .absol-scrollbar-button {
    left: 1px;
    right: 1px;
}


.absol-table-scroller-vscrollbar-container > div,
.absol-table-scroller-hscrollbar-container > div {
    width: 100%;
    height: 100%;
}

.absol-table-scroller-hscrollbar-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 17px;
    bottom: 0;
    z-index: 31;
}


.absol-table-scroller-hscrollbar-container .absol-scrollbar-button {
    top: 1px;
    bottom: 1px;
}


.absol-table-scroller:not(.scroll-v) .absol-table-scroller-vscrollbar-container {
    display: none;
}

.absol-table-scroller:not(.scroll-h) .absol-table-scroller-hscrollbar-container {
    display: none;
}


.absol-table-scroller.scroll-h .absol-table-scroller-vscrollbar-container {
    bottom: 17px;
}

.absol-table-scroller.scroll-v .absol-table-scroller-hscrollbar-container {
    right: 17px;
}

.absol-table-scroller-fixed-table {
    table-layout: fixed;
    box-sizing: border-box;

}

.absol-table-scroller-fixed-table *,
.absol-table-scroller-header-hscroller * {
    box-sizing: border-box;
}

.absol-table-scroller .as-drag-zone {
    cursor: move;
}


.absol-table-scroller tr.as-dragging {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    -moz-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);
    opacity: 0.8;
}

.absol-table-scroller td.as-transparent-fix {
    visibility: hidden;
    opacity: 0;
}

.absol-table-scroller.as-dragging tbody tr:not(.as-dragging) {
    transition: transform 0.1s;
}


.absol-table-scroller-viewport thead .as-rotated-text-anchor,
.absol-table-scroller-fixed-viewport thead .as-rotated-text-anchor,
.absol-table-scroller-left-vscroller thead .as-rotated-text-anchor{
    display: none;
}

.absol-table-scroller .as-rotated-text-anchor{
    white-space: nowrap;
}


.as-table-scroller-row-index::before {
    content: attr(data-idx);
}

/*.absol-table-scroller.as-has-new-pos.as-dragging::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: var(--new-pos-y);*/
/*    right: 0;*/
/*    border-top: 2px solid blue;*/
/*    z-index: 8;*/
/*    transition: top 0.1s;*/
/*}*/