.absol-table-vscroller {
    position: relative;
    --tvs-scroll-padding-bottom: 1px;
}

.absol-table-vscroller-head {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 20px;
    top: 0;
    left: 0;
}

.absol-table-vscroller-head-line{
    position: absolute;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-bottom:solid 2px rgb(169, 169, 170); 
    width: 100%;
}

.absol-table-vscroller.scroll-v .absol-table-vscroller-head-line{
    width: calc(100% - 7px);
}

.absol-table-vscroller-viewport {
    max-height: 100%;
    padding-bottom: var(--tvs-scroll-padding-bottom);
    padding-top: 1px;
    overflow-y: auto;
}

.absol-table-vscroller-viewport > table{
    box-sizing: border-box;
    width: 100%;
}