
.as-table-of-text-input-wrapper {
    border: 1px solid #dddddd;
}

.as-table-of-text-input-content-ctn {
    overflow: auto;
}


.as-table-of-text-input {
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-family: 'Aptos Narrow', Calibri, sans-serif, 'Mongolian Baiti', 'Microsoft Yi Baiti', 'Javanese Text', 'Yu Gothic';
    font-size: 11pt;
    margin: 10px;
}

.as-table-of-text-input-wrapper.as-size-a4 .as-table-of-text-input {
    width: 445pt;
}

.as-table-of-text-input pre {
    font: inherit;
    line-height: 1.75;
}

.as-table-of-text-input.as-inline {
    display: inline-table;
}

.as-table-of-text-input-cell {
    vertical-align: top;
    padding: 0px 5px;
    border: 1px dashed #808080;
    position: relative;
}

.as-table-of-text-input-cell.as-focus::before {
    pointer-events: none;
    content: "";
    position: absolute;
    border: 1px dashed var(--variant-color-primary);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.as-table-of-text-input-cell .as-preinput {
    outline: none;
    display: block;
}

.as-table-of-text-input-cell.as-bold {
    font-weight: bold;
}

.as-table-of-text-input-cell.as-italic {
    font-style: italic;
}

.as-table-of-text-input-tool {
    background-color: #f8f8f8;
    font-size: 14px;
    /*-webkit-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);*/
    /*-moz-box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);*/
    /*box-shadow: 2px 2px 9px 0px rgba(20, 20, 20, 1);*/
    /*border-radius: 4px;*/
    padding: 3px;
    border-bottom: 1px solid #dddddd;
}

.as-table-of-text-input-tool > button,
.as-table-of-text-input-tool-group > button {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


.as-table-of-text-input-tool-group {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.as-table-of-text-input-tool-group:not(:last-child) {
    border-right: 1px solid #dddddd;
}


.as-table-of-text-input-tool  button.as-checked {
    color: #2977ff;
    /*background-color: rgb(240, 247, 255);*/
    box-shadow: inset gray 0px 0px 4px -2px;
}
