.absol-table-scroller {
    position: relative;
    overflow: hidden;
}

.absol-table-scroller-viewport {
    max-width: 100%;
    max-height: 100%;
}

.absol-table-scroller-fixed-viewport {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
}

.absol-table-scroller-fixed-viewport>table>thead,
.absol-table-scroller-fixed-viewport>table {
    border-top-color: transparent !important;
    /*firefox bug*/
}

.absol-table-scroller-fixed-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    border-color: transparent !important;

}

.absol-table-scroller-header-hscroller {
    position: absolute;
    left: 0;
    top: 0;
    right: 6px;
    z-index: 9;
    overflow: hidden;
    pointer-events: none;
}

.absol-table-scroller-header-hscroller-viewport {
    max-width: 100%;
    overflow-x: scroll;
}

.absol-table-scroller-header-hscroller-viewport table {
    table-layout: fixed;
}


.absol-table-scroller-left-vscroller {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 6px;
    z-index: 7;
    width: 200px;
    overflow-x: hidden;
    pointer-events: none;
}

.absol-table-scroller-left-vscroller-viewport {
    max-height: 100%;
    overflow-y: scroll;
    min-width: calc(100% + 19px);
    overflow-x: hidden;
}