.absol-tabbar {
    white-space: normal;
    height: 2em;
    white-space: nowrap;
}

.absol-tabbar .absol-tabbar-button {
    height: 100%;
}

.absol-tabbar .absol-scrollbar-container {
    height: 5px;
}

.absol-tabbar .absol-scrollbar-button {
    opacity: 0;
    transition: opacity 0.2s;
}

.absol-tabbar:hover .absol-scrollbar-button {
    opacity: 1;
}

.absol-tabbar .absol-scrollbar-button {
    background-color: rgba(196, 196, 196, 0.1)
}

.absol-tabbar .absol-scrollbar-button:active {
    background-color: rgba(255, 255, 255, 0.3)
}



.absol-tabbar-button {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(45, 45, 45);
    color: rgb(200, 200, 200);
    margin-right: 1px;
    border: none;
    outline: none;
}

.absol-tabbar .absol-tabbar-button-active {
    background-color: rgb(30, 30, 30);
    color: rgb(250, 250, 252);
}

.absol-tabbar-button-text,
.absol-tabbar-button-close {
    display: inline;
    vertical-align: middle;
}

.absol-tabbar-button .absol-tabbar-button-close {
    margin-left: 1em;
    visibility: hidden;
    color: rgb(190, 190, 190);
    font-size: 1em
}

.absol-tabbar-button:hover .absol-tabbar-button-close,
.absol-tabbar-button-active .absol-tabbar-button-close {
    visibility: visible;
    color: red;
}

.absol-button-range {}


.absol-tabview {
    position: relative;
}


.absol-tabview-container {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}



.absol-tabview-container.absol-tabview-container-hidden {
    z-index: -9999;
    visibility: hidden;
    opacity: 0;
}


.absol-tabview-container>div,
.absol-tabview-container>pre {
    width: 100%;
    height: 100%;
}

.absol-tabview-container>pre {
    margin: 0;
}

.absol-tabview .absol-tabbar-button {
    border-radius: 10px 10px 0 0;
    height: 34px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    background-color: white;
    color: black;
    padding-left:14px;
    padding-right: 5px;  
    margin-right:5px; 
}

.absol-tabview .absol-tabbar {
    height: 34px;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.absol-tabview .absol-tabbar-button-active {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
}

.absol-tabview .absol-tabbar-button-close{
    color:rgb(170, 170, 170);
    line-height: 30px;
    margin-left: 14px; 
    font-size: 20px;
}

.absol-tabview .absol-tabbar-button-close:hover{
    color:red;
}




/************** Mini version - like window form ***********************/

.absol-tabview.xp-tiny .absol-tabbar {
    height: 22px;
    border-bottom: none;
}

.absol-tabview.xp-tiny .absol-tabbar-button {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
    margin: 0;
    vertical-align: bottom;
    margin-top: 2px;
    background-color: rgb(242, 242, 242);
    color: black;
    position: relative;
}

.absol-tabview.xp-tiny::before {
    content: "";
    position: absolute;
    top: 18px;
    z-index: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-bottom: solid 1px #ccc;
}

.absol-tabview.xp-tiny .absol-tabbar-button.absol-tabbar-button-active {
    height: 22px;
    margin-top: 0;
    background-color: white;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: white;
}



.absol-hscroller.absol-tabbar.disabled .absol-scrollbar-container {
    visibility: hidden;
}

.absol-tabview.absol-tabview.xp-tiny .absol-tabbar-button-close {
    line-height: 18px;
}

.absol-tabview.xp-tiny .absol-tabbar-button-close.mdi.mdi-close {
    display: none;
}

.absol-tabview.xp-tiny .absol-tabview-container {
    top: 22px;
}

.absol-tabview.xp-tiny .absol-tab-frame {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}