.absol-tabbar {
    height: 2em;
    white-space: nowrap;
}


.absol-tabbar .absol-hscroller-viewport {
    overflow-y: hidden;
}

.absol-tabbar .absol-tabbar-button,
.absol-tabbar .as-tab-bar-add-btn {
    height: 100%;
}

/* .absol-tabbar .absol-scrollbar-container {
    height: 5px;
} */

.absol-tabbar .absol-scrollbar-container.horizontal {
    bottom: -2px;
}

.absol-tabbar .absol-scrollbar-container {
    opacity: 0;
    transition: opacity 0.2s;
    background: rgba(169, 169, 169, 0.1);
}

.absol-tabbar:hover .absol-scrollbar-container,
.absol-tabbar:active .absol-scrollbar-container {
    opacity: 1;
}

.absol-tabbar .absol-scrollbar-button {
    background-color: rgba(33, 33, 40, 0.1);
}

.absol-tabbar .absol-scrollbar-button:hover {
    background-color: rgba(33, 33, 40, 0.3);
}


.absol-tabbar .absol-scrollbar-button:active,
.absol-tabbar .absol-hscrollbar.absol-active .absol-scrollbar-button {
    background-color: rgba(47, 47, 55, 0.4);

}


.absol-tabbar-button {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(45, 45, 45);
    color: rgb(200, 200, 200);
    margin-right: 1px;
    border: none;
    outline: none;
    font-size: 1em;
    white-space: nowrap;
}

.as-tab-bar-add-btn {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(45, 45, 45);
    color: rgb(200, 200, 200);
    margin-right: 1px;
    border: none;
    outline: none;
    font-size: 1em;
    white-space: nowrap;
}


.as-tab-bar-button-ext-icon-ctn:empty {
    display: none
}

.as-tab-bar-button-ext-icon-ctn {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.35em;
    margin-left: -0.5em;
}

.absol-tabbar-button-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.as-tab-bar-button-ext-icon-ctn span {
    font-size: 1.2em;
}


.absol-tabbar .absol-tabbar-button-active {
    background-color: rgb(30, 30, 30);
    color: rgb(250, 250, 252);
}

.absol-tabbar-button-text,
.absol-tabbar-button-icon-container > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
}

.absol-tabbar-button .absol-tabbar-button-close,
.absol-tabbar-button .absol-tabbar-button-close-circle {
    visibility: hidden;
    color: rgb(190, 190, 190);
}

.absol-tabbar-button.as-prevent-closing .absol-tabbar-button-close,
.absol-tabbar-button.as-prevent-closing .absol-tabbar-button-close-circle {
    visibility: hidden;
}

.absol-tabbar-button.as-prevent-closing .absol-tabbar-button-icon-container {
    pointer-events: none;
}

.absol-tabbar-button-icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}


.absol-tabbar-button:not(.as-prevent-closing):hover .absol-tabbar-button-close,
.absol-tabbar-button-active:not(.as-prevent-closing) .absol-tabbar-button-close,
.absol-tabbar-button:hover:not(.as-prevent-closing) .absol-tabbar-button-close-circle,
.absol-tabbar-button-active:not(.as-prevent-closing) .absol-tabbar-button-close-circle {
    visibility: visible;
    color: red;
}

.absol-tabbar-button-active .absol-tabbar-button-modified-flag {
    color: lightblue;
}

.absol-tabbar-button-modified-flag {
    color: mediumaquamarine;
}

.absol-tabbar-button:not(.absol-tabbar-button-modified) .absol-tabbar-button-modified-flag,
.absol-tabbar-button.absol-tabbar-button-modified:not(.active) .absol-tabbar-button-icon-container:hover .absol-tabbar-button-modified-flag,
.absol-tabbar-button.absol-tabbar-button-modified .absol-tabbar-button-icon-container:not(:hover) .absol-tabbar-button-close,
.absol-tabbar-button:not(.absol-tabbar-button-modified) .absol-tabbar-button-icon-container:not(:hover) .absol-tabbar-button-close-circle,
.absol-tabbar-button:not(.absol-tabbar-button-modified) .absol-tabbar-button-icon-container:hover .absol-tabbar-button-close,
.absol-tabbar-button.absol-tabbar-button-modified .absol-tabbar-button-close-circle,
.absol-tabbar-button.absol-tabbar-button-modified .absol-tabbar-button-icon-container:not(:hover) .absol-tabbar-button-close {
    display: none;
}


.absol-button-range {
}


.absol-tabview {
    position: relative;
}

.as-tabview-title {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(230, 230, 205);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.bsc-white .as-tabview-title,
.bsc-white .as-np-db-btn{
    color: var(--tab-button-font-color-hover);
}


.absol-tabview-container {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: white;
}


.absol-tabview-container.absol-tabview-container-hidden {
    z-index: -9999;
    visibility: hidden;
    opacity: 0;

}

.absol-tabview-container.absol-tabview-container-hidden *,
.absol-tabview-container.absol-tabview-container-hidden {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.absol-tabview-container > div,
.absol-tabview-container > pre {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.absol-tabview-container > pre {
    margin: 0;
}

.absol-frame > iframe {
    border: none;
    box-sizing: border-box;
}

.absol-tabview .absol-tabbar-button {
    border-radius: 0.7em 0.7em 0 0;
    height: 2em;
    box-sizing: border-box;
    border: solid 1px #ccc;
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 0.357em;
    margin-right: 0.357em;
}

.absol-tabview .as-tab-bar-add-btn {
    border-radius: 0.7em 0.7em 0 0;
    height: 2em;
    box-sizing: border-box;
    border: solid 1px #ccc;
    background-color: white;
    color: black;
}

.absol-tabview .absol-tabbar {
    height: 2em;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
}

.absol-tabview .absol-tabbar-button-active {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
}

/* .absol-tabview .absol-tabbar-button-close {
    color: rgb(170, 170, 170);
    line-height: 1.5em;
    margin-left: 1em;
    font-size: 1.3em;
} */

.absol-tabview .absol-tabbar-button-close:hover {
    color: red;
}


/************** Mini version - like window form ***********************/

.absol-tabview.xp-tiny .absol-tabbar {
    height: 1.5em;
    border-bottom: none;
}

.absol-tabview.xp-tiny .absol-tabbar-button,
.absol-tabview.xp-tiny .as-tab-bar-add-btn {
    height: 1.4em;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
    vertical-align: bottom;
    margin: 0.1em 0 0 0;
    background-color: rgb(242, 242, 242);
    color: black;
    position: relative;
}

.absol-tabview.xp-tiny::before {
    content: "";
    position: absolute;
    top: calc(1.5em - 4px);
    z-index: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}

.absol-tabview.xp-tiny .absol-tabbar-button.absol-tabbar-button-active {
    height: 1.5em;
    margin-top: 0;
    background-color: white;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: white;
}


.absol-hscroller.absol-tabbar.disabled .absol-scrollbar-container {
    visibility: hidden;
}

.absol-tabview.absol-tabview.xp-tiny .absol-tabbar-button-close {
    line-height: 1.4em;
}

.absol-tabview.xp-tiny .absol-tabbar-button-icon-container {
    display: none;
}

.absol-tabview.xp-tiny .absol-tabview-container {
    top: 1.5em;
}

.absol-tabview.xp-tiny .absol-tab-absol {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}


.absol-tabview.as-without-close-button > .absol-tabbar .absol-tabbar-button .absol-tabbar-button-icon-container {
    display: none;
}

.absol-tabview.as-without-close-button > .absol-tabbar .absol-tabbar-button {
    padding-right: 1em;
}

.absol-tabview > .absol-tabbar .as-tab-bar-add-btn {
    display: none;
}

.absol-tabview.as-has-add-btn > .absol-tabbar .as-tab-bar-add-btn {
    display: inline-block;
}


/************************ Like Metro theme *********************/

.absol-tabview.metro-flat > .absol-tabbar .absol-tabbar-button,
.absol-tabview.metro-flat > .absol-tabbar .as-tab-bar-add-btn {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: solid 1px rgba(169, 169, 169, 0.3);
    font-size: 1em;
}

.absol-tabview.metro-flat > .absol-tabbar {
    box-shadow: 0px -1px 0px 0px #ccc;
}

/************************ Round Out theme *********************/

/*.absol-tabview.rond-out > .absol-tabbar .absol-tabbar-button*/

.absol-tabview.cad-dark > .absol-tabbar {
    border-bottom: calc(0.1em + 1px) solid #3B4453;;
}

.absol-tabview.cad-dark > .absol-tabview-container {
    top: 2.1em;
}

.absol-tabview.cad-dark > .absol-tabbar {
    height: 2.1em;
    box-sizing: border-box;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active {
    background-color: #3B4453;
    color: white;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button {
    background-color: #313946;
    color: rgb(169, 169, 170);

}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button::before,
.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1em;
    height: 1em;
    z-index: 1;
    background-size: cover;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDguNDY2NjY2NCA0LjIzMzMzMzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMTMzOTAzNjQgMCAwIC4yNzU0NTg5MSAtLjAzMjY2NDYxIC0uMDgwNjM0OTIpIiBkPSJNIDMxLjg1ODcxNiwwLjI5MjcyOTQxIFYgMTUuNjYxMDIzIEggMC4yNDM5NDExNyBDIDE1LjI0NzAyOCwxNS43NzU5MjkgMzEuMzU0NDkzLDExLjExODk1NiAzMS44NTg3MTYsMC4yOTI3Mjk0MSBaIiBzdHlsZT0icGFpbnQtb3JkZXI6ZmlsbCBtYXJrZXJzIHN0cm9rZTtmaWxsOiMzMTM5NDYiLz4KICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCgtLjEzMzkwMzY0IDAgMCAuMjc1NDU4OTEgOC40OTkzMzE1IC0uMDgwNjM0OTIpIiBkPSJNIDMxLjg1ODcxNiwwLjI5MjcyOTQxIFYgMTUuNjYxMDIzIEggMC4yNDM5NDExNyBDIDE1LjI0NzAyOCwxNS43NzU5MjkgMzEuMzU0NDkzLDExLjExODk1NiAzMS44NTg3MTYsMC4yOTI3Mjk0MSBaIiBzdHlsZT0icGFpbnQtb3JkZXI6ZmlsbCBtYXJrZXJzIHN0cm9rZTtmaWxsOiMzMTM5NDYiLz4KIDwvZz4KPC9zdmc+Cg==');
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active::before,
.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active::after,
.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active {
    z-index: 3;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active::before,
.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDguNDY2NjY2NCA0LjIzMzMzMzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMTMzOTAzNjQgMCAwIC4yNzU0NTg5MSAtLjAzMjY2NDYxIC0uMDgwNjM0OTIpIiBkPSJNIDMxLjg1ODcxNiwwLjI5MjcyOTQxIFYgMTUuNjYxMDIzIEggMC4yNDM5NDExNyBDIDE1LjI0NzAyOCwxNS43NzU5MjkgMzEuMzU0NDkzLDExLjExODk1NiAzMS44NTg3MTYsMC4yOTI3Mjk0MSBaIiBzdHlsZT0icGFpbnQtb3JkZXI6ZmlsbCBtYXJrZXJzIHN0cm9rZTtmaWxsOiMzQjQ0NTMiLz4KICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCgtLjEzMzkwMzY0IDAgMCAuMjc1NDU4OTEgOC40OTkzMzE1IC0uMDgwNjM0OTIpIiBkPSJNIDMxLjg1ODcxNiwwLjI5MjcyOTQxIFYgMTUuNjYxMDIzIEggMC4yNDM5NDExNyBDIDE1LjI0NzAyOCwxNS43NzU5MjkgMzEuMzU0NDkzLDExLjExODk1NiAzMS44NTg3MTYsMC4yOTI3Mjk0MSBaIiBzdHlsZT0icGFpbnQtb3JkZXI6ZmlsbCBtYXJrZXJzIHN0cm9rZTtmaWxsOiMzQjQ0NTMiLz4KIDwvZz4KPC9zdmc+Cg==');
}


.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button {
    position: relative;
    margin-right: 0;
    border: none;
    border-radius: 0.8em 0.8em 0 0;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-hscroller-viewport {
    padding-left: 1.2em;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button::before {
    left: -0.98em;
    background-position: left;
}

.absol-tabview.cad-dark > .absol-tabbar .absol-tabbar-button::after {
    right: -0.98em;
    background-position: right;

}

.absol-tabview.cad-dark > .absol-tabbar .as-tab-bar-add-btn {
    background-color: #313946;
    color: rgb(169, 169, 170);
    font-weight: bold;
    border: 4px solid #222933;
    border-radius: 0.8em 0.8em 0 0.8em;
}

.absol-tabview.cad-dark > .absol-tabbar .as-tab-bar-add-btn:active {
    color: white;
    background-color: #3B4453;
    font-weight: bold;
}

.as-tabview-right-ctn {
    position: absolute;
    z-index: 150;
    right: 0;
    top: 0;
}



.bsc-white .as-tabview-right-ctn {
    top: -10px;
}

.as-tabview-right-ctn> div{
    display: inline-block;
    vertical-align: middle;
}

.bsc-white .as-tabview-right-ctn::before {
    content: "";
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}