.ac-time-input {
    box-sizing: border-box;
    height: calc(2em + 2px);
    width: 9em;
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
}

.ac-time-input.as-disabled {
    color: rgb(102, 102, 102);
    pointer-events: none;
}

.ac-time-input.as-must-not-null .as-time-input-clear-btn {
    display: none;
}

.ac-time-input.as-read-only.as-border-none {
    border: none;
}

.ac-time-input.as-read-only.as-border-none .as-time-input-icon-btn {
    display: none;
}

.ac-time-input.as-read-only.as-border-none input {
    padding-left: 0;
}

.ac-time-input input {
    font: inherit;
    outline: none;
    width: calc(100% - 2em - 2px);
    height: 100%;
    border: none;
    display: block;
    padding: 0 0 0 var(--as-input-horizontal-padding);
    -webkit-user-select: auto;
    user-select: auto;
    -webkit-user-drag: none;
    color: inherit;
    box-sizing: border-box;
}

.as-time-input-icon-btn {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(2em + 1px);
    box-sizing: border-box;
    background-color: rgba(169, 169, 169, 0.1);
    cursor: pointer;
    border-radius: 0;
    font-size: inherit;
    color: inherit;
}

.ac-time-input.as-read-only .as-time-input-icon-btn {
    pointer-events: none;
}


.as-time-input-icon-btn > span {
    font-size: calc(16em / 14);
}


.as-time-input-icon-btn:hover {
    background-color: rgba(169, 169, 169, 0.25);
}

.as-time-input-icon-btn:active {
    background-color: rgba(169, 169, 169, 0.5);
}


.as-time-input-icon-btn.as-disabled {
    color: rgb(102, 102, 102);
    pointer-events: none;
}


.as-time-input-clear-btn {
    font-size: inherit;
    position: absolute;
    right: calc(2em + 2px);
    height: 2em;
    top: calc(50% - 1em);
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: #bbb;
    visibility: hidden;
}


.ac-time-input.as-value-null .as-time-input-clear-btn {
    display: none;
}

.as-time-input-clear-btn:hover {
    color: rgb(132, 132, 132);
}

.as-time-input-clear-btn:active {
    color: #525555;
}

input:focus + .as-time-input-clear-btn,
.ac-time-input .as-time-input-clear-btn {
    visibility: visible;
}


/*.ac-time-input-picker-ctn {*/
/*    position: fixed;*/
/*}*/

/*.ac-time-input > span {*/
/*    font-size: 1em;*/
/*    line-height: 2em;*/
/*}*/

/*.ac-time-input-picker-ctn-hidden {*/
/*    z-index: -1000;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/

/*.ac-time-input-picker-ctn-hidden:not(.absol-follower) {*/
/*    transition: all 0.1s;*/
/*}*/

/*.ac-time-input.as-disabled {*/
/*    color: rgb(102, 102, 102);*/
/*    pointer-events: none;*/
/*}*/