.ac-time-picker {
    /*like chrome-calender*/
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    padding: 0.6em;
    border: solid 1px rgb(191, 191, 191);
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
    z-index: 100;
    touch-action: manipulation;
    user-select: none;
    background-color: rgb(255, 255, 255);
    white-space: initial;
}


@media screen and (orientation: portrait) {
    .ac-time-picker.ac-time-picker-touch {
        font-size: 5vw;
    }
}

@media screen and (orientation: landscape) {
    .ac-time-picker.ac-time-picker-touch {
        font-size: 4vh;
    }
}


.ac-time-picker:not(.ac-time-picker-clock-mode) .ac-time-picker-set-clock,
.ac-time-picker:not(.ac-time-picker-clock-mode) .ac-time-picker-keyboard-btn,
.ac-time-picker:not(.ac-time-picker-touch) .ac-time-picker-keyboard-btn,
.ac-time-picker:not(.ac-time-picker-time-mode) .ac-time-picker-set-time,
.ac-time-picker:not(.ac-time-picker-time-mode) .ac-time-picker-clock-btn {
    display: none;
}

.ac-time-picker-set-clock-header {
    font-size: 2.8em;
    text-align: center;
    min-width: 4.28571428571em;
    font-weight: bold;

}

.ac-time-picker-set-clock-header > span {
    font-size: inherit;
}

.ac-time-picker-clock {
    width: 12em;
    height: 12em;
}

.ac-time-picker-clock-hour-pm {
    fill: rgb(20, 20, 20);
    font-size: 0.7em;
}


.ac-time-picker-clock-hour-am {
    fill: black;
    font-size: 0.8em;
}

.ac-time-picker-clock-minute {
    fill: black;
    font-size: 0.8em;
}


.ac-time-picker-clock-center,
.ac-time-picker-clock-select-circle {
    fill: rgb(115, 166, 248);
}

.ac-time-picker-clock-select-center {
    fill: white;
}

.ac-time-picker-clock-select-line {
    stroke-width: 1;
    stroke: rgb(115, 166, 248);
}


.ac-time-picker-hour,
.ac-time-picker-minute {
    outline: none;
}

.ac-time-picker-edit-hour .ac-time-picker-hour,
.ac-time-picker-edit-minute .ac-time-picker-minute {
    color: rgb(62, 125, 189);
}

.ac-time-picker:not(.ac-time-picker-edit-hour) .ac-time-picker-clock-hour-ctn,
.ac-time-picker:not(.ac-time-picker-edit-minute) .ac-time-picker-clock-minute-ctn {
    visibility: hidden;
}

.ac-time-picker:not(.ac-time-picker-edit-hour):not(.ac-time-picker-edit-minute) .ac-time-picker-clock {
    display: none;
}

.ac-time-picker-hour:empty::before,
.ac-time-picker-minute:empty::before {
    content: "0";
    display: inline;
}

.ac-time-picker-footer {
    display: block;
    position: relative;
    min-height: 1.5em;
    min-width: 12em;
}

.ac-time-picker-footer-right {
    position: absolute;
    right: 0;
    top: 0;
}

.ac-time-picker-footer button {
    font-size: 1em;
    height: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.ac-time-picker-footer button:hover,
.ac-time-picker-footer button:focus {
    background-color: rgba(170, 170, 170, 0.3);
}

.ac-time-picker-footer > button {
    margin-right: 1em;
}

.ac-time-picker-footer-right > button {
    margin-left: 1em;
}


.ac-time-picker-footer button .mdi {
    font-size: 1.3em;
}


/* .ac-time-picker:not(.ac-time-picker-touch) .ac-time-picker-keyboard-btn {
    display: none;
} */

/* keyboard-outline */

.ac-time-picker-set-time-header {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.ac-time-picker-set-time-label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.ac-time-picker-set-time-input-group {
    margin-bottom: 0.3em;
    font-size: 1em;
    white-space: nowrap;
}

.ac-time-picker-set-time-input-hm > input {
    height: 1.2em;
    line-height: 1.2em;
    width: 2em;
    text-align: center;
    font-size: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(70, 70, 72);
    outline: none;
}

.ac-time-picker-set-time-input-label-hm {
    font-size: 1em;
    white-space: nowrap;

}

.ac-time-picker-set-time-input-label-hm span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;

}


.ac-time-picker-set-time-input-label-hm > span:first-child {
    width: 2em;
}