.ac-time-input {
    box-sizing: border-box;
    --base-size: calc(2em + 2px);
    --format-width: 48px;
    height: var(--base-size);
    width: calc(var(--format-width) + var(--base-size) * 1.6 + var(--as-input-horizontal-padding) * 2 + 2px);
    min-width: calc(var(--format-width) + var(--base-size) * 1.6 + var(--as-input-horizontal-padding) * 2 + 2px);   
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
    font-family: Roboto, sans-serif;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.ac-time-input.as-read-only {
    width:  calc(var(--format-width) + var(--as-input-horizontal-padding) * 2 + 2px);
    min-width:  calc(var(--format-width) + var(--as-input-horizontal-padding) * 2 + 2px);
}

.ac-time-input[data-size="large"] {
    --base-size: var(--large-size);
    border-radius: var(--large-radius);
}


.ac-time-input[data-size="regular"] {
    --base-size: var(--default-size);
    border-radius: var(--default-radius);
}


.ac-time-input[data-size="small"] {
    --base-size: var(--small-size);
    border-radius: var(--small-radius);
}


.ac-time-input.as-disabled {
    color: rgb(102, 102, 102);
    pointer-events: none;
}

.ac-time-input.as-must-not-null .as-time-input-clear-btn {
    display: none;
}

.ac-time-input.as-read-only.as-border-none {
    border: none;
}

.ac-time-input.as-background-none {
    background-color: transparent;
}

.ac-time-input.as-read-only.as-border-none .as-time-input-icon-btn {
    display: none;
}

.ac-time-input.as-read-only.as-border-none input {
    padding-left: 0;
}

.ac-time-input input {
    font: inherit;
    outline: none;
    width: calc(100% - var(--base-size));
    height: 100%;
    border: none;
    display: block;
    padding: 0 0 0 var(--as-input-horizontal-padding);
    -webkit-user-select: auto;
    user-select: auto;
    -webkit-user-drag: none;
    color: inherit;
    box-sizing: border-box;
    background-color: transparent;
}

.ac-time-input.as-read-only input {
    width: 100%;
}

.ac-time-input.as-disabled {
    background-color: var(--as-disabled-background-color);
}

.as-time-input-icon-btn {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #ddd;
    position: absolute;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--base-size);
    box-sizing: border-box;
    background-color: rgba(169, 169, 169, 0.1);
    cursor: pointer;
    border-radius: 0;
    font-size: inherit;
    color: inherit;
}

.ac-time-input.as-read-only .as-time-input-icon-btn {
    display: none;
}

.ac-time-input input.as-read-only input {
    width: 100%;
}

.ac-time-input.as-read-only .as-time-input-clear-btn,
.ac-time-input.as-disabled .as-time-input-clear-btn {
    display:  none;
}

.as-time-input-icon-btn > span {
    font-size: calc(16em / 14);
}


.as-time-input-icon-btn:hover {
    background-color: rgba(169, 169, 169, 0.25);
}

.as-time-input-icon-btn:active {
    background-color: rgba(169, 169, 169, 0.5);
}


.as-time-input-icon-btn.as-disabled {
    color: rgb(102, 102, 102);
    pointer-events: none;
}


.as-time-input-clear-btn {
    font-size: inherit;
    position: absolute;
    right: var(--base-size);
    height: 2em;
    top: calc(50% - 1em);
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: #bbb;
    visibility: hidden;
}


.ac-time-input.as-value-null .as-time-input-clear-btn {
    display: none;
}

.as-time-input-clear-btn:hover {
    color: rgb(132, 132, 132);
}

.as-time-input-clear-btn:active {
    color: #525555;
}

input:focus + .as-time-input-clear-btn,
.ac-time-input .as-time-input-clear-btn {
    visibility: visible;
}

.as-dropdown-box-common-style .as-time-input-picker {
    border: none;
    box-shadow: none;
}


/*.ac-time-input-picker-ctn {*/
/*    position: fixed;*/
/*}*/

/*.ac-time-input > span {*/
/*    font-size: 1em;*/
/*    line-height: 2em;*/
/*}*/

/*.ac-time-input-picker-ctn-hidden {*/
/*    z-index: -1000;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/

/*.ac-time-input-picker-ctn-hidden:not(.absol-follower) {*/
/*    transition: all 0.1s;*/
/*}*/

/*.ac-time-input.as-disabled {*/
/*    color: rgb(102, 102, 102);*/
/*    pointer-events: none;*/
/*}*/