.ac-time-input {
    box-sizing: border-box;
    height: calc(2em + 2px);
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.35714285714em;
    padding-right: 0.35714285714em;
}

.ac-time-input-picker-ctn {
    position: fixed;
}

.ac-time-input>span {
    font-size: 1em;
    line-height: 2em;
}

.ac-time-input-picker-ctn-hidden {
    z-index: -1000;
    opacity: 0;
    visibility: hidden;
}

.ac-time-input-picker-ctn-hidden:not(.absol-follower){
    transition: all 0.1s;
}