.as-time-range-24-input {
    white-space: nowrap;
    display: inline-block;
    min-width: 302px;
}

.as-time-range-24-input.as-read-only.as-border-none {
    min-width: unset;
}

.as-time-range-24-input > div:first-child {
    margin-right: 10px;
}


.as-time-range-24-input.as-read-only.as-border-none .ac-time-input {
    display: none;
}


.as-time-range-24-input-data-text {
    display: none;
    vertical-align: middle;
}

.as-time-range-24-input.as-read-only.as-border-none .as-time-range-24-input-data-text{
    display: inline-block;
}


.as-chrome-time-24-picker-follower .as-chrome-time-24-picker {
    border: none;
    box-shadow: none;
}