.as-time-select-input {
    display: inline-block;
    position: relative;
    height: 30px;
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    white-space: nowrap;
    padding-right: 30px;
    --list-min-width: unset;
    width: var(--list-min-width);
    min-width: var(--list-min-width);
}

.as-time-select-input-text{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 0;
}