.absol-tooltip {
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

.absol-tooltip-content {
    display: inline-block;
    border-radius: 0.25rem;
    background-color: gray;
    padding: 0.25rem 0.5rem;
}


.absol-tooltip-arrow {
    width: 0;
    height: 0;
    position: absolute;
    box-sizing: content-box;
}

.absol-tooltip.top .absol-tooltip-arrow {
    border-left: 0.4rem solid transparent;
    border-right: 0.3rem solid transparent;

    border-top: 0.3rem solid gray;
    bottom: 0;
    left: calc(50% - 0.3rem);
}



.absol-tooltip.top .absol-tooltip-content {
    margin-bottom: 0.3rem;
} 


.absol-tooltip.bottom .absol-tooltip-arrow {
    border-left: 0.3rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.3rem solid gray;

    top: 0;
    left: calc(50% - 0.3rem);
}

.absol-tooltip.bottom .absol-tooltip-content {
    margin-top: 0.3rem;
}



.absol-tooltip.left .absol-tooltip-arrow {
    border-top: 0.3rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: 0.4rem solid gray;

    right: 0;
    top: calc(50% - 0.3rem);
}

.absol-tooltip.left .absol-tooltip-content {
    margin-right: 0.4rem;
}


.absol-tooltip.right .absol-tooltip-arrow {
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-right: 0.4rem solid gray;

    left: 0;
    top: calc(50% - 0.3rem);
}

.absol-tooltip.right .absol-tooltip-content {
    margin-left: 0.4rem;
}


.absol-tooltip-root{
    position: relative;
    width: 0;
    height: 0;
}

.absol-tooltip-root-holder{
    position: absolute;
}