.absol-trackbar {
    height: 1.2em;
    min-width: 7em;
    display: inline-block;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0.6em;
    box-sizing: border-box;
    white-space: nowrap;
}

.absol-trackbar::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.absol-trackbar-line {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    height: 0.4em;
    box-sizing: border-box;
    background-color: rgb(200, 200, 200);
    -webkit-box-shadow: 0 0 0.2em 0.1em rgb(160, 160, 160) inset;
    -moz-box-shadow: 0 0 0.2em 0.1em rgb(160, 160, 160) inset;
    box-shadow: 0 0 0.2em 0.1em rgb(160, 160, 160) inset;
    border-radius: 0.15em;
}

.absol-trackbar-button {
    position: absolute;
    z-index: 1;
    top: -0.4em;
    /* bottom: -0.4em; */
    height: 1.2em;
    left: 0;
    width: 1.2em;
    margin-left: -0.6em ;
    background: rgb(245, 245, 245);
    border-radius: 50%;
    border: solid 1px rgb(139, 139, 139);
    box-sizing: border-box;
}

.absol-trackbar:not(.as-read-only) .absol-trackbar-button,
.absol-trackbar:not(.as-read-only) .absol-trackbar-line {
    cursor: pointer;
}

.absol-trackbar.as-disabled {
    pointer-events: none;
}

.absol-trackbar.as-disabled .absol-trackbar-button {
    background: rgb(225, 225, 225);
    border: solid 1px rgb(200, 200, 200);
}

.absol-trackbar.as-disabled .absol-trackbar-line {
    background-color: rgb(220, 220, 220);
    -webkit-box-shadow: 0 0 0.2em 0.1em rgb(200, 200, 200) inset;
    -moz-box-shadow: 0 0 0.2em 0.1em rgb(200, 200, 200) inset;
    box-shadow: 0 0 0.2em 0.1em rgb(200, 200, 200) inset;
}