
.as-tree-table {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.as-tree-table-toggle {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    padding-right: 0.3em;
    white-space: nowrap;
    user-select: none;
}



.as-tree-table-toggle::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}

.as-tree-table-head {
    background-color: #d6d6d6;
}


.as-tree-table-head-cell {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
}


.as-tree-table-row {
    height: calc(40em / 14);
    page-break-inside: avoid;
    break-inside: avoid;
}

.as-tree-table-row:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.as-tree-table-row:nth-child(even) {
    background-color: white;
}

.as-tree-table-cell {
    padding: 5px;
    border: 1px solid #ddd;
    position: relative;
    page-break-inside: avoid;
    break-inside: avoid;
}

.as-tree-table-cell[data-type="number"] {
    text-align: right;
}

.as-tree-table-row.as-is-opened .as-tree-table-toggle .toggle-close,
.as-tree-table-row:not(.as-is-opened) .as-tree-table-toggle .toggle-open {
    display: none;
}

.as-tree-table-toggle .toggler-ico {
    display: inline-block;
    vertical-align: middle;
}



.as-tree-table-row:not(.as-has-sub-row) .as-tree-table-toggle .toggler-ico {
    visibility: hidden;
}

/*.as-tree-table-row {*/
/*    height: var(--table-row-height);*/
/*}*/

.as-printer-content .as-tree-table-toggle svg{
    display: none;
}

.as-printer-content .as-tree-table-head-cell,
.as-printer-content .as-tree-table-cell{
    border-color: black;
}

.as-tree-table-cell>span:first-child:last-child{
    page-break-inside: avoid;
    break-inside: avoid;
}

@media print {
    div[align="center"]> .as-tree-table{
        display: block !important;
    }
    /*trick avoid break row*/
    .as-tree-table tbody tr td:before,
    .as-tree-table tbody tr td:after {
        content: "";
        height: 4px;
        display: block;
    }

    .as-tree-table-head {
        display: table-header-group  !important;
    }

    .as-tree-table-head + tbody tr:first-child th {
        display: none;
    }
}

.as-tree-table.as-table-new .as-tree-table-cell,
.as-tree-table.as-table-new .as-tree-table-head-cell{
    border-right: none;
    border-left: none;
}

.as-tree-table.as-table-new .as-tree-table-head-cell {
    border-top: none;
}
