body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --main-menu-width: unset;
    --main-header-height: 50px;
    --color-primary-darker: rgb(18, 25, 41);
    --color-primary-dark: rgb(35, 49, 81);
    --color-primary-hover: rgb(59, 77, 121);
    --color-primary: rgb(28, 120, 179);

    --color-primary-light: rgb(92, 209, 246);
    --main-menu-item-height: 40px;
}

.bsc-main {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 14px;
    background-color: var(--color-primary-dark);

}

.bsc-main-menu-ctn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary-dark);
}

.bsc-main-menu-ctn .absol-hmenu-button,
.bsc-main-menu-ctn .absol-vmenu-button {
    color: var(--color-primary-light);
}

.bsc-main-menu-ctn .absol-vmenu-button:hover, .bsc-main-menu-ctn .absol-vmenu .absol-vmenu-button-hover {
    background-color: var(--color-primary-darker);
}

.bsc-main-menu-ctn .absol-dropright-content {
    background-color: var(--color-primary-dark);
}

.bsc-main-menu-ctn .absol-vmenu-button {
    height: var(--main-menu-item-height);
}

.absol-dropright:not(.absol-drop-hidden) > .absol-vmenu-button .absol-vmenu-button-text {
    color: white;
    text-shadow: 0.5px 0 0 currentColor;
}

.bsc-main-body {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 0;
    left: var(--main-menu-width);
}

.bsc-logo-ctn {
    height: var(--main-header-height);
    text-align: center;
    background-color: var(--color-primary-darker);
}

.bsc-logo-ctn::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.bsc-logo-ctn img {
    max-height: calc(var(--main-header-height) - 10px);
    display: inline-block;
    vertical-align: middle;
}

.bsc-widget-support-img {
    height: 50px;
    width: auto;
    pointer-events: none;
}

.bsc-main-tab {
    width: 100%;
    height: 100%;
}

.bsc-main-tab > .absol-tabview-container {
    background-color: white;
}

.bsc-main-tab > .absol-tabview-container {
    top: calc(var(--main-header-height) - 10px);
}

.bsc-main-tab > .absol-tabbar {
    height: calc(var(--main-header-height) - 10px);
    border-bottom: none !important;
}

.bsc-main-tab > .absol-tabbar .absol-tabbar-button {
    height: calc(var(--main-header-height) - 10px);
    border-radius: 4px 4px 0 0;
    border: none;
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
}

.bsc-main-tab > .absol-tabbar .absol-tabbar-button:hover{
    background-color: var(--color-primary-hover);
}

.bsc-main-tab > .absol-tabbar .absol-tabbar-button.absol-tabbar-button-active{
    background-color: white;
}